[2015-11-03 13:42] anssiko commented on #13
I added the Remote Playback API to the [group's home page][1] and [publication status page][2] to make sure people are able to find the spec easily.

@tidoust Could you (with help from @dontcallmedom perhaps) enable [github-notify-ml][3] for [w3c/remote-playback][4] using the same configuration we have for [w3c/presentation-api][5] so that the public-secondscreen@w3.org mailing list will be automa

[2015-11-03 13:45] dontcallmedom commented on #13
@anssiko @tidoust I've enabled github-notify for w3c/remote-playback

[2015-11-03 14:26] anssiko commented on #13
@dontcallmedom Thanks!

[2015-11-03 14:26] #13 closed

[2015-11-06 00:29] mfoltzgoogle commented on #35
@sicking At the TPAC F2F we adopted a proposed resolution for #149 that will fire an error event on the connection in case message sending failed.  With this implemented, the two sides could implement a ping-pong protocol to detect accidental disconnection, if that is important for the application.

[2015-11-06 00:54] sicking commented on #35
(I think we might start to drift offtopic for this issue, let me know if you want me to raise this as a separate issue).

If an implementation has the ability to detect that a message failed to be sent correctly, why wouldn't it transition the connection to a disconnected state?

[2015-11-06 01:01] mfoltzgoogle commented on #35
On failure to send, it will transition the connection to a closed state.  The error event could be used to distinguish an application/user request to close, versus an accidental disconnection.

I'm not inherently opposed to adding more states, but would like to see a demonstrated developer need that can't be addressed through the existing API.  I can file this as a separate issue to clean up the d

[2015-11-06 01:05] mfoltzgoogle opened #217 "Add a PresentationConnection.disconnected state for accidental disconnections"
Some interactive applications (e.g., games) may want to pause when the controller has accidentally disconnected.  Right now this can only be detected indirectly when a call to `connection.send()` fails - the connection will transition to `closed` and fire an error event.  To detect this quickly, the application would likely need some kind of heartbeat mechanism - depending on the channel implement

[2015-11-06 01:06] mfoltzgoogle commented on #35
Opened #217, let's continue discussion there.

[2015-11-06 11:21] mounirlamouri commented on #217
I'm slightly confused by this, how is the UC not fulfilled with:
[code]

[2015-11-06 15:24] tidoust opened #218 "Possibility for a character to be interpreted differently depending on locale"
Hi all,

[I'm raising this as an issue for tracking purpose, but I do not think that there is any issue in the end, so actually suggests to close it once people have reviewed it, unless someone points out that I missed something, of course!].

The group discussed potential internationalization issues during its F2F last week [1]. One particular issue that was raised was the possibility for a given

[2015-11-06 17:42] mfoltzgoogle commented on #218
Agreed that if string serialization for `send()` is capable of passing Unicode characters cleanly, then there shouldn't be an issue with the meaning of characters changing over the wire.  The spec should state that strings are passed in a way that is Unicode-clean: either USVString or the equivalent.

If the document for the receiving context is rendered using a non-Unicode encoding, and it receiv

[2015-11-06 17:54] mfoltzgoogle commented on #217
I believe the use case is to distinguish intentional disconnection from accidental disconnection.  In the former case you would exit the game and ask for new players.  In the latter case you would pause the game, prompt the user to reconnect their controlling device to the display, and resume play when they had done so (or eventually time out).

[2015-11-07 12:00] mounirlamouri commented on #217
Wouldn't that be better to create a `PresentationConnectionStateChangeEvent` that would be use when firing a `statechange` event instead of firing a `simple event`? We could add some property there. For example `userInitiated`. It sounds cleaner than creating a new concept (`disconnected`) that wouldn't really mean what it says -- If I understand correctly, `disconnected` isn't really that the con

[2015-11-07 18:17] mounirlamouri commented on #214
This is somethnig we wanted to add to the Remote Playback API too. I think it would be great to have this state. Though, we might want to call it `connecting` for consistency with `connected`?

[2015-11-09 17:20] #14 closed

[2015-11-09 17:20] #210 closed

[2015-11-10 09:02] tkanai commented on #218
@tidoust
Thank you for raising the issue here, but I'm afraid that the point is slightly different. Please take a look at the gist [1]. As you can see in the picture, each Unicode code point are rendered differently depending on each language setting.  As I opened the HTML page in my Japanese PC, the cells in skyblue shows the same letters with the result of lang="ja" case, but it might be rendere

[2015-11-10 13:52] tidoust commented on #218
@tkanai

OK, now I see what you meant, many thanks for the concrete examples! I pointed out the issue to @r12a who created an issue for the Internationalization Working Group, which should eventually get back to us:

 http://www.w3.org/International/track/issues/506

The two examples are different. My understanding is that things work "as planned" for the first set of characters, meaning that they

[2015-11-10 17:00] mfoltzgoogle commented on #218
Thank you for the example.  It is clear that simply preserving the Unicode data isn't sufficient, as locale and font selection can also change the meaning of the content.

It would be helpful for @r12a or the followup to http://www.w3.org/International/track/issues/506 point to any normative references to how locales should handled by user agents, so we can refer to them in the spec.  There is som

[2015-11-10 19:23] mfoltzgoogle commented on #217
Since the only state change that would need further explanation is the one that transitions from connected to closed, what about firing a separate `CloseEvent` with a result code, similar to WebSockets? [1]  We could use this to also convey the last message sent if the socket closed with a write error, which would resolve #149 and no longer require a separate `error` event.

Specific proposal:

[c

[2015-11-11 01:11] wcarr opened #220 "CG rechartering"
[possible charter for second screen CG](https://wcarr.github.io/cg-charter/SecondScreenCharterProposal20151110.html)

@anssiko and I were discussing the possible new work for the CG to define a standard way to use the 2 UA second screen over a network.  That would require changing the charter to allow the work, so I wrote an example draft charter.

Having an example architecture helps (at least us

[2015-11-11 08:12] mfoltzgoogle commented on #220
I assembled some internal notes and put them on GitHub.  Consider this an initial architectural proposal from Google.  It is scoped to 1-UA mode, 2-UA mode, and remote media playback.

https://github.com/mfoltzgoogle/freeplay

There is a bit of chicken and egg.  Until the scope of the charter is fleshed out then it will be hard to draw up a conclusive architecture.  For example, if we include alte

[2015-11-11 09:49] louaybassbouss commented on #220
@wcarr thx for the draft charter. You mentioned some technologies/protocols in the Discovery section but I think concrete discovery and communication protocols should be decided later in the group. For example,  BLE is also a potential technology to discover displays around me. What do you think?

[2015-11-11 10:17] tkanai commented on #218
Thank you for the comments.
@tidoust I have to admit that the backslash is an edge case. These days, web authors use U+00a5 Yen sign instead of the backslash in Japan, so I don't think it is a big issue. I guess U+20a9 Won sign is also used in Korea. The main reason why I added the issue into the example is to tell how locales/languages would affect to rendering results very clearly. For those who

[2015-11-11 10:25] louaybassbouss commented on #220
@mfoltzgoogle thx for your proposal. Just one comment from my side: In the Presentation API we consider for now Web Content (mainly web pages) but on the protocol level we may need to be more generic e.g. to launch any kind of applications: a native mobile application (Android, iOS,  etc.) may use the Freeplay protocol to discover Displays that provides a specific App (e.g. using App specific URL-

[2015-11-11 14:38] anssiko commented on #220
Thanks @wcarr, @mfoltzgoogle, and @louaybassbouss for your input!

All - please provide your feedback and further input with regard to the proposed [Community Group][1] rechartering that we initiated at F2F. You may just +1 if you think you'd be interested in contributing to the definition of such interoperable protocols for the Presentation API to allow us gauge the level of interest.

(This issu

[2015-11-11 16:14] schien commented on #220
I put the implementation details on https://wiki.mozilla.org/WebAPI/PresentationAPI and I'm continuously adding more information onto the wiki page.

[2015-11-11 20:01] wcarr commented on #220
@louaybassbouss The idea of the example architecture is in the bold paragraph right before the first example:

The CG doesn't have to adopt that specific architecture, but it clarifies what types of things need to be figured out.

Like BLE would be fine in what the group comes up with, but does show a pretty likely direction.  I've added that draft charter.
(https://wcarr.github.io/cg-charter/Seco

[2015-11-11 21:20] mfoltzgoogle commented on #218
The receiver could certainly set the lang= attribute on the presentation document to match a locale set by the sender.  However, if the server uses the `Accept-Language` value in the header as a signal for what document to serve (i.e. because strings are translated differently) then it would seem to make the problem worse.  For example, if the presentation were requested with:

[code]

and was mar

[2015-11-11 21:38] aphillips commented on #218
The I18N WG is scheduled to discuss this tomorrow (12 November 2015) in our teleconference.

I'll make a quick personal comment here, though. It is important not to confuse the presentation of a character with the interpretation or meaning of the character. The reverse solidus (backslash) character is one example. The differences between Simplified Chinese and Traditional or kanji forms is another

[2015-11-11 21:57] mfoltzgoogle commented on #220
@wcarr Thanks for putting an initial draft together for feedback.

I am quite concerned that the proposed scope of the carter omits the 1-UA case. This was specifically mentioned as important by me in the Sapporo F2F.   In fact this could be an easier use case to achieve interoperability because there is a complete, self contained, open source implementation available (WebRTC).

Imagine having a R

[2015-11-11 22:00] mfoltzgoogle commented on #220
@louaybassbouss I think it's reasonable for the protocol to include some mechanism for vendor extensibility to additional URL schemes and/or content types.  If an app ecosystem wants to re-use our work to facilitate launch and control, that's fine.  Anything beyond that is really out of scope IMO, as the point of this work is interoperability among browsers and displays, and apps are tied to speci

[2015-11-11 22:02] mfoltzgoogle commented on #220
@wcarr If you agree with my points would you like me to prepare a PR to address them with the charter draft?

[2015-11-11 23:20] wcarr commented on #220
@mfoltzgoogle  The intent was @anssiko  (who I'd been talking to about that particular use case) would copy it to the CG repo and then develop it with particular issues on the draft charter there.   I was thinking @anssiko would edit in and we'd close this Issue just in deciding whether to use it as a starting point or not.  (the process part has improvements developed in several other charters)

[2015-11-11 23:41] mfoltzgoogle commented on #220
@wcarr @anssiko If the plan is to get the process boilerplate out of the way and develop the content of the charter in the CG repo that seems fine.  However it sounds like we don't have consensus on scope and deliverables.  Please remove these sections before moving to the CG repo so they don't become de facto defaults.

[2015-11-12 00:00] karim76 commented on #220
@louaybassbouss I think that using the BLE idea for discovery is very interest to me. I can imagine the system that TV will send own information (IP, available state, etc,.) via BLE, and mobile can get this. After getting the information, Mobile will try to connect to TV via IP.

I have only one concern about above scenario. If Mobile and TV are not used same IP network, I think that they can't co

[2015-11-12 06:11] duerst commented on #218
I concur with @aphillips, but have some additional comments.

First, it's not really about differences between Simplified and Traditional Chinese, because these are distinguished by using different code point when the difference is significant (e.g. 区 vs. 區).

The differences in Han character (kanji) shapes between mainland China, Taiwan/HK, Japan, and so on are much finer, much closer to the leve

[2015-11-12 07:18] louaybassbouss commented on #220
@karim76 thx for your feedback I agree with you about your concern if devices are not in the same network and but there are cases where BLE makes sense. Example: Present on a Display as guest (Controller and display are not in the same network but both are connected to the internet). In this case BLE will help to discover the display and maybe exchange some signalling information and launch the pr

[2015-11-12 14:37] anssiko commented on #220
Thanks for the input to date everyone! It looks like there's sufficient interest to look into rechartering the CG.

First, I'd like to clarify the expectations with regard to the process of CG rechartering:

Since we have multiple proposals on the table (which is good) and the scope is still being discussed, we will not take a single proposal as a starting point. Rather, we'll synthesize and itera

[2015-11-12 17:18] r12a commented on #218
ok, I'll try to summarise what we just discussed in the i18n telecon.

the issue here is that some ideographic characters may look foreign to the reader unless a language-sensitive font is applied.  (btw, this can be the case for other scripts too, including arabic and latin)

we are only talking about minor differences between characters, and they are more likely to affect readability rather than

[2015-11-12 18:10] tidoust commented on #220
I think the main reasons for starting this work are:

1. to define a base set of protocols that Presentation API implementers can refer to to implement the spec;
2. to improve interoperability between implementations, i.e. the possibility to associate a presentation controller with a presentation receiver even if they have not been implemented by the same user agent.

While I would love to see all

[2015-11-13 02:39] mfoltzgoogle commented on #79
Update:

After discussion within Chrome and also with a discussion with @sicking, we're proposing the following solution:

- There aren't any persistent permissions or threats posed by use of the API in embedded content.  At best it will annoy the user by getting them to present content they don't want.  The user remains in control to cancel the presentation when this happens.

- We should encoura

[2015-11-13 04:40] sicking commented on #79
One thing we can do is to encourage UAs to specify the origin of the page calling .start() in the picker UI. Especially in case that origin doesn't match the top-level origin of the tab.

Seems like sticking something to that effect in the security section could be helpful.

[2015-11-13 04:56] sicking commented on #79
...which is exactly what you said in the previous comment :)

[2015-11-13 10:11] louaybassbouss commented on #205
This issue is relevant for WebIDL tests which I am currently working on to prepare the test plan. Web Platform Tests Projects [1] offers a lib idlharness.js [2] for it which automatically generates browser tests for WebIDL interfaces. In our case we will have two idlharness one for each conformance class.  IDL-harness for Controlling User Agent expects that the PresentationReceiver Interface is de

[2015-11-16 12:06] tidoust commented on #218
Thanks @r12a, @aphillips and @duerst , that certainly helps understanding the issue at stake.

The messages that will go through the communication channels are entirely up to the application. We may add a note to recommend that authors flag strings with a BCP47 language code but won't be able to do more than that.

The main reason why the Second Screen WG is considering the ability to pass the lan

[2015-11-16 13:00] r12a commented on #218
i'm not sure that really follows. Suppose the language asked for is not available.  Usually the server would fall back to another language...

Also, the accept-language data is set in the browser and is unlikely to be altered much of the time. In fact, in some browsers it's not possible to easily change it.  If you speak both Chinese and Japanese, say, and wanted to receive information in both lan

[2015-11-16 21:53] tidoust commented on #218
Right, but I don't think that matters for our use case. See the Internet café example below.

What is specific to the Presentation API is the existence of a control channel that the controlling user agent uses to send commands such as "load that URL" to the receiving user agent. How this works in practice is up to implementations for the time being, but it is easy to envision that this control cha

[2015-11-17 13:33] anssiko commented on #220
I've now created a [webscreens/cg-charter][1] repo for the Second Screen *Community Group (CG)* rechartering discussions and primed it with a [CG Charter][2] template that contains the common boilerplate. I left Scope of Work, Out of Scope, and Deliverables sections essentially blank to be filled in with your help.

Let's continue this discussion on CG rechartering in the [corresponding GitHub iss

[2015-11-17 13:33] #220 closed

[2015-11-18 14:21] anssiko commented on #79
Hearing no concerns, @mfoltzgoogle please proceed as suggested and update the spec, considering also @sicking's feedback re the security section. In this first iteration we should be fine monkey-patching HTML spec in the Presentation API. However, should add an inline issue/note that we should upstream the patch to HTML if no concerns from TAG/WebAppSec to be looped in after the changes have lande

[2015-11-19 17:51] r12a commented on #218
oh, this is a very different use case than the one i thought we were talking about. In this case, it seems to make sense to pass the smartphone's accept-language settings to the second screen and require the browser to pass that to the server from which it is requesting the resource.

i thought we were talking about passing strings from the smartphone to the second screen, or vice versa, for displ

[2015-11-27 07:45] schien opened #222 "define the behavior while receiver calls connection.terminate()"
In section 6.2.4, we only define the behavior that receiver app must be terminate while controlling side invokes `connection.terminate()`. But what should happen if receiver side invokes `connection.terminate()`?

Two approaches I have in mind:

1. throw `NotSupportedError` exception because we don't allow receiver app to close controller app.
2. terminate receiver app itself and notify all connec

[2015-12-02 23:54] mfoltzgoogle commented on #193
Also from PR #221:

[2015-12-03 13:27] anssiko commented on #222
Option 2 sounds better from the developer ergonomics point of view i.e. regardless of which side is invoking `connection.terminate()`  the behaviour is the same.

Also, the web developers might expect this work similarly to `window.close()`.

[2015-12-04 12:43] anssiko commented on #217
Seems good. Some comments:

* Perhaps for consistency the attribute should be simply `reason`.
* TAG has some casing rules for enumeration values: http://w3ctag.github.io/design-principles/#casing-rules I think lowercase, concatenated would be fine too, since I'm not seeing lowercase, dash-delimited much in use actually.

[2015-12-07 11:34] mounirlamouri commented on #201
I think this is now fixed.

[2015-12-07 11:34] #201 closed

[2015-12-07 12:35] tidoust opened #223 "Implementation guideline: users should have a way to know which origin is being presented at any time"
The issue was raised during last Privacy INterest Group (PING) call, that @mfoltzgoogle and myself attended on behalf of the Second Screen WG.

The Presentation API should provide guidance to implementers around the need to ensure that the user can tell which origin is being presented at any time (when the request to present is made, as well as while the presentation is on-going).

See draft minut

[2015-12-07 12:51] tidoust opened #224 "Think more about privacy implications in multi-user scenarios"
The issue was raised during last Privacy INterest Group (PING) call, that @mfoltzgoogle and myself attended on behalf of the Second Screen WG.

The group should review multi-user scenarios as there may be privacy implications that could warrant adding implementation guidelines to the spec. In particular, through the Presentation API, a given user may switch from a mode where she is the only person

[2015-12-07 13:34] tidoust commented on #45
@mfoltzgoogle and myself discussed privacy implications of the Presentation API with PING last week. Christine will send out an email summary. Draft minutes are available at:
http://www.w3.org/2015/12/03-privacy-minutes.html#item02

The gist of the feedback is that the Second Screen WG is doing well with regards to privacy, having already considered the main privacy issues that the specification r

[2015-12-14 21:32] mfoltzgoogle commented on #222
The current algorithm for terminating a presentation connection currently implements proposal #2 by @schien; see the text starting "When a receiving user agent is to terminate a presentation using connection..."

http://w3c.github.io/presentation-api/#terminating-a-presentationconnection

However the description could be improved.  I think we should split it into two algorithms, one for terminatin

[2015-12-14 21:33] mfoltzgoogle commented on #222
Per @anssiko the implementation is to behave identically to `window.close()` with the additional step of notifying all connected controllers that the presentation was terminated.

[2015-12-15 09:39] anssiko commented on #222
It sounds like we're settled on option 2? To provide further data, I'd like to note the behavior in option 1 could be provided as a polyfill rather easily:

Given option 2 implemented natively, a web developer could implement option 1 in JS to alter the behaviour of the [`terminate()`][1] method based on the value of the [`receiver`][2] attribute:

[code]
The opposite (option 1 implemented nativel

[2015-12-15 23:47] mfoltzgoogle opened #228 "GitHub API failing, which leads to ReSpec failures"
Periodically, the calls to the GitHub API made inline in the spec document fail with error 403 (Forbidden) when executing ReSpec locally.  No other information is provided.    This causes ReSpec to silently stop processing the document.

I have commented out the githubAPI line in PR #227 until this issue can be sorted.

[2015-12-16 01:10] mfoltzgoogle opened #229 "Need algorithm for establishing a presentation connection when the previous connection(s) were closed"
The current algorithm for establishing a presentation connection only works from start(), i.e. it assumes the connection is the first one and is in a connecting state.  We need a algorithm for adding a new connection to an existing presentation that is similar but works when the prior connection(s) are closed, connecting, or connected (i.e. any state but terminated).

This is a cleanup after PR #2

[2015-12-16 13:51] avayvod commented on #214
Since sending and receiving messages to/from a "connecting" connection might sound confusing, and w/o this extra functionality "connecting" state doesn't add much, maybe there're other ways we could workaround passing the metadata etc?
1. Return the PresentationConnection in a "disconnected" state when the user picks a screen, but with some custom dictionary "screen" field that would contain the a

[2015-12-17 09:03] louaybassbouss opened #230 "Presentation API IDL Tests for Presentation Interface"
The Presentation API specifies interfaces for controlling and receiving user agents in the same spec. The [Presentation Interface][1] is one of the common interfaces used in both classes of user agents. In controlling UA only the `defaultRequest` attribute is relevant and for receiving UA only the `receiver` attribute. If one of these attributes is `undefined` (e.g. `defaultRequest` is not defined

[2015-12-17 11:19] tidoust commented on #214
Hi @avayvod,

While there may be better ways to expose messaging channels, consistency across similar specs seems like a good idea.

Typically, both WebSockets and WebRTC data channels have `connecting`, `open`, `closing` and `closed` ready states:
https://html.spec.whatwg.org/multipage/comms.html#dom-websocket-readystate
http://w3c.github.io/webrtc-pc/#idl-def-RTCDataChannelState

They also both

[2015-12-17 14:09] tidoust opened #231 "Wrong use of "Queue a task" and "in parallel" in algorithms"
I believe that some of the algorithms in the spec use "Queue a task" incorrectly.

"Queue a task" is strongly tied to the event loop:
http://www.w3.org/TR/html5/webappapis.html#queue-a-task
[[ When a user agent is to queue a task, it must add the given task to one of the task queues of the relevant event loop ]]

In particular, a task queued on the event loop does not run in the background and act

[2015-12-17 15:43] avayvod commented on #214
Ok, I agree that having a "connecting" state is beneficial for consistency and convenience.
I don't think we should add any exceptions for messaging in non "connected" state too. Implementations should be able to work around the passing screen metadata problem (e.g. pass the info when the connection is in the "connected" state) and wait until it's in the spec somehow.

[2015-12-18 19:11] mfoltzgoogle commented on #230
Also see Issue #205 where I raise the issue of how to treat `defaultRequest` and `receiver` in UAs that conform to one class but not the other.

Personally I would prefer leaving the attributes undefined in user agents that don't implement the corresponding interfaces or functionality.  Literally there is no reason to have the attribute at all and that is consistent with other cases where the user

[2015-12-18 19:14] mfoltzgoogle commented on #231
Yes, when I drafted the algorithms I did not have a clear understanding of what "queue a task" meant.  I assumed it meant that steps would run outside the script event loop using a mechanism of the browser's choosing (IPC, thread, etc.).  Obviously that's not the case as you point out, so the execution model for most, if not all the algorithms is incorrect.

Any PRs to help this make sense would b

[2015-12-18 19:47] mfoltzgoogle commented on #214
Okay, it sounds like there is consensus on retaining the "connecting" state in PR #227.

[2015-12-21 19:22] mfoltzgoogle commented on #214
Merged PR #227 which adds a "connecting" state to the API.  New presentation connections to the controller are provided to the page in this state and later transition to "connected."

Note that connections are provided to the receiving context in an already-"connected" state.

[2015-12-21 19:22] #214 closed

[2015-12-21 19:24] mfoltzgoogle commented on #149
PR #227 adds a `PresentationConnectionCloseEvent` which is fired when a connection is closed for any reason.  It can take a reason value of "error" in cases where the presentation is disconnected for underlying platform reasons (network disconnection, etc.).

If there's an error sending a message through the underlying message transport, there's guidance to include a snippet of the offending messa

[2015-12-21 19:24] #149 closed

[2015-12-21 19:25] mfoltzgoogle commented on #198
PR #227 modifies the example code to send messages only on a "connected" presentation connection.
It also creates new connections in a "connecting" state.

[2015-12-21 19:25] #198 closed

[2015-12-21 19:26] mfoltzgoogle commented on #216
I believe PR #227 (and the updated example) addresses this, please let me know if there are further clarifications needed.

[2015-12-21 19:26] #216 closed

[2015-12-21 19:30] mfoltzgoogle opened #232 "ReSpec fails to process current editor's draft"
After merging PR #227, ReSpec fails with the following backtrace:

[code]

I verified there are no tidy-html5 warnings (except the usual).  I tried commenting out all "connecting" strings in the document and the error reproduces.

It also prints the following warnings:

[code]

My best guess is that this is an error parsing the IDL, but I'm not sure how to debug it further, since the same IDL work

[2015-12-21 19:46] mfoltzgoogle commented on #217
PR #227 landed a modified version of this proposal with close reasons of "error" (all accidental/error related cases), "closed" (all user or page initiated cases), and "wentAway" (navigations).

I believe it addresses the naming issues in https://github.com/w3c/presentation-api/issues/217#issuecomment-161958769 as well.

[2015-12-21 19:47] mfoltzgoogle commented on #217
Although "wentAway" should perhaps be "wentaway."  Any opinion @annsiko?

[2015-12-21 20:30] mfoltzgoogle commented on #92
There are currently algorithms for establishing a presentation connection, closing and terminating a presentation connection and creating a new connection in a receiving browsing context.  There are two open issues I am aware of:

* #222 - define the behavior while receiver calls connection.terminate()
* #229 - Need algorithm for establishing a presentation connection when the previous connection(

[2015-12-21 20:30] #92 closed

[2016-01-04 16:42] mounirlamouri commented on #232
FWIW, I can reproduce the issue on Chrome but not on Firefox.

[2016-01-04 17:23] tidoust commented on #232
FWIW, this seems due to a recent commit in ReSpec:
https://github.com/w3c/respec/pull/534/files

I pinged @dontcallmedom about it.

The reason being that ReSpec attempts to assign a value to a string property that is read-only in strict mode (and the code runs in strict mode). I am not sure why it does not fail in Firefox but it does crash in Chrome and Edge.

[2016-01-05 16:23] dontcallmedom commented on #232
the new respec release fixes this; sorry for the troubles

[2016-01-05 17:58] mfoltzgoogle commented on #222
This should be addressed with the merged PR.

[2016-01-05 17:58] #222 closed

[2016-01-05 19:28] mfoltzgoogle commented on #232
Verified that the current ED works without issue.  Thanks @dontcallmedom

[2016-01-05 19:28] #232 closed

[2016-01-06 00:48] mfoltzgoogle commented on #231
PR #235 (based on PR #234 by @tidoust) should fix most of the significant problems noted above.

There are two other fixes noted yet to do:
- Clarify when we are firing a simple event, versus an event defined in the spec.
- Break the close algorithm into two, so we can refer to part of it separately when a page with a connection is navigated.

Closing this issue for now however.

[2016-01-07 23:43] #231 closed

[2016-01-11 13:59] anssiko commented on #217
@mfoltzgoogle Lowercase is what the rest of the platform uses for enums, also recommended by the [WebIDL spec][1]:

Submitted a PR #237 with a fix.

[1]: http://heycam.github.io/webidl/#idl-enums

[2016-01-11 20:52] #217 closed

[2016-01-12 11:11] tidoust commented on #228
I believe that this is due to GitHub rate limiting unauthenticated requests (which is what ReSpec seems to be doing) to "60 requests per hour":
 https://developer.github.com/v3/#rate-limiting

I never run into problems when viewing specs online (my guess would be that GitHub does not apply the same limit when the request comes from code served from a github.io subdomain), but I confirm I've been r

[2016-01-12 17:05] mfoltzgoogle commented on #228
Does every issue linked in the document cause a request to be sent?  I could see hitting this limit pretty quickly then.

[2016-01-12 17:09] tidoust opened #240 "Would a "closing" connection state be of any use?"
Both WebSockets and WebRTC data channels switch to a `closing` state when the closing procedure is started. The state switches to `closed` at the end of the closing handshake, in other words when the underlying protocol triggers some signal that the connection should be regarded as closed.

The `closing` state makes sense from a procedural perspective (this matches how the user agent is going to h

[2016-01-12 17:11] tidoust commented on #228
No, I think there's only one (or two) calls to the API. The code that handles that part should be at:
https://github.com/w3c/respec/blob/develop/js/core/issues-notes.js#L130

Also, I note that conditional requests do not count towards the limit. However, I often force a refresh when I work locally to ensure I see the latest version of the spec.

[2016-01-12 17:36] tidoust opened #241 "bufferedAmount property on PresentationConnection"
Still looking at similarities with WebSockets and WebRTC data channels, I note that they both define a `bufferedAmount` property that returns the number of bytes of application data queued using `send()` but not yet transmitted to the network.

This property is typically useful for a Web app to handle congestion issues and e.g. prioritize messages to transmit or otherwise postpone non essential tr

[2016-01-15 08:15] tidoust commented on #240
As suggested in https://github.com/w3c/presentation-api/pull/239#issuecomment-171756116
... the `closing` state is useful internally in any case, so we may want to add a side note that this internal state would be helpful to implementation.

[2016-01-15 09:24] tomoyukilabs commented on #240
In case of WebSocket, for example, when a client calls `close()` method during data transmission from a server to the client, the state of the client becomes `closing` immediately, but the server would continue its data transmission and then send the `close` frame to the client. Therefore, the `closing` state of the closing initiator peer might mean that the remote peer might still be sending any

[2016-01-15 10:30] tidoust commented on #240
Thanks @tomoyukilabs,

Your comment raises an important point, which I overlooked in my review of PR #239: it is good practice to continue listening to data as long as the underlying connection has not been closed. For instance, the Web Socket Protocol (TCP and WebRTC data channels have similar expectations, I believe) says:

In particular, the `closed` event should only fire when the client can n

[2016-01-18 07:28] tomoyukilabs commented on #240
@tidoust `closing` state indicates that an app is not allowed to send any data and it should wait for receiving all remaining data if necessary. On the other hand, codes such as `if (connection.state === 'connected') {...}` might be sufficient to confirm whether `send()` method would be available or not, and `if (connection.state === 'closed') {...}` or `closed` event might be sufficient to know w

[2016-01-19 02:28] birtles opened #242 "Describe the use cases for terminate vs close"
Not sure if this is the most appropriate place for feedback, but as a newcomer to the spec I'm having trouble understanding the use cases behind terminating vs closing. It seems that closing allows you to reconnect whereas terminate does not but I'm still puzzled as to what use cases they represent.

[2016-01-20 07:31] tomoyukilabs commented on #240
To see actual behavior of `closing` state, I have made example codes of WebSocket, like below:

[code]

This example assumes that the WebSocket server would send a large message to the client as soon as the connection would have been established.

[I tried this example](https://labs.othersight.jp/closingtest/), and several browsers such as Chrome, Firefox, Edge and IE11 showed the same result like

[2016-01-20 15:59] tidoust commented on #240
@tomoyukilabs that's very interesting, thanks for the investigation!

If I understand the specs, example (note the server seems down), and results properly, only Safari has the right behavior according to specs. All other browsers close the WebSocket too early.

Now, when one looks at it from an application perspective, it seems more straightforward not to have to code the logic needed to handle a

[2016-01-21 10:08] tomoyukilabs commented on #240
@tidoust Sorry, I found I had misconfigured my server. Now I have fixed it and the server is working now.

By the way, I tried to read [the WebSocket interface spec](https://html.spec.whatwg.org/multipage/comms.html#network), but I have not found any description about behavior in case of receiving messages during closing handshake, yet. The spec does not seem to say explicitly either such messages

[2016-01-21 11:22] tidoust commented on #240
@tomoyukilabs Thanks, your example works fine now!

I realize that I misread the the WebSocket interface spec and that it explicitly instructs user agents to discard messages received after a call to `close`:

(Calling `close` sets `readyState` to `CLOSING`, so it's not `OPEN` anymore when the message is received).

Thus I was wrong: your tests suggest that all tested Web browsers behave according

[2016-01-22 01:52] tomoyukilabs commented on #240
@tidoust Thanks for clarification. It turns out I also misunderstood the task during closing handshake.

At least, such a situation may imply that the app tries to close WebSocket connection when the server has been still in the middle of sending something to the app, or that the server might be down or still continue unexpected data transfer.

One of best practices for the former case seems to be

[2016-01-25 06:59] tomoyukilabs commented on #218
I think it make sense, too. If I understand it correctly, this mechanism seems to need to be implemented in the control protocol, since the receiving user agent needs to know the controlling user agent's accept-language setting before loading a receiver Web app. Now I am wondering whether existing control protocols for the 2-UA case might have such a mechanism or not...

[2016-01-26 11:23] anssiko opened #244 "[meta] CfC to publish a new Working Draft"
This is a Call for Consensus to publish a new Working Draft of the Presentation API using the latest [Editor's Draft][1] as its source. For an overview of changes, see the [HTML diff][2] to previous 13 October 2015 Working Draft (but note the sections have been reordered since the previous publication).

Hearing no concerns, we should publish earliest 3 February 2016.

To summarize, the specificat

[2016-01-26 15:29] tidoust commented on #148
@mfoltzgoogle, @obeletski,

I believe this issue has been addressed and may be closed. The `start()` procedure is now clear that the monitoring of displays and the selection of a display happen in parallel.

Please re-open the issue if you believe further changes are required.

[2016-01-26 15:29] #148 closed

[2016-01-26 15:43] tidoust commented on #162
Note that I pinged the Accessible Platform Architectures (APA) Working Group, the new Protocols and Formats WG for spec reviews, after TPAC, as agreed. The APA WG is tracking the request on their own tracker, with 17 February 2016 as due date:
 https://www.w3.org/WAI/APA/track/actions/2003

[2016-01-26 18:09] tidoust opened #245 ""Known connection" in reconnect() may be linked to another browsing context"
The `reconnect()` algorithm assumes that the *presentation connection* S of the *known connection* found in the *set of presentations* is directly associated with the current browsing context, and asks the user agent to resolve the `Promise` with S directly.

However, S may belong to another requesting browsing context of the same controlling user agent. When that happens, a new `PresentationConne

[2016-01-27 10:45] tidoust opened #246 "getAvailability procedure is not specified"
The spec does not explain what happens when the `getAvailability` method is called. In particular, the procedure needs to describe when the `Promise` is resolved.

[2016-01-27 23:22] mfoltzgoogle commented on #40
Commit 7d4929c38fbf5b507b66c93dba22bb8586b0281f amends the note about the selection of the presentation display to mention the multiple-displays case (along the lines of https://github.com/w3c/presentation-api/issues/40#issuecomment-103814798).

It also removes an obsolete issue mentioned inline (which should be addressed by the current spec).

Closing this (long overdue) resolved issue :)

[2016-01-27 23:22] #40 closed

[2016-01-27 23:30] mfoltzgoogle commented on #80
Before closing this, we need to update the spec to take account of https://www.w3.org/2015/10/29-webscreens-minutes.html#action07

As well as polish the text in the security section.

[2016-01-28 14:11] tidoust commented on #246
@mfoltzgoogle I think you dropped the procedure by mistake when re-ordering sections in December. PR #247 should fix the issue.

[2016-01-28 18:03] mfoltzgoogle commented on #246
Should be closed by #247.

[2016-01-28 18:03] #246 closed

[2016-01-29 16:22] tidoust commented on #244
@anssiko I will provide text for the Status of This Document section.

With the risk of delaying the publication a bit... Re-reading the spec and the list of open issues, if we want to use the publication to encourage a "wide review" of the spec, wouldn't it make sense to make a small push to fix the "known bugs", by which I mean the parts where we know that the spec is wrong or incomplete and tha

[2016-01-29 16:31] tidoust commented on #18
Re-reading this issue,

I would rather reformulate this in terms of "terminating the presentation when the receiving browsing context is unloaded", rather than "terminating the presentation when the page navigates to a different URL".

In particular, on top of fragments, it is common for apps to call `pushState` and `replaceState` to update the current URL without reloading the page.

[2016-01-29 17:51] anssiko commented on #244
Thanks for triaging the bugs @tidoust and for volunteering to help with issues and SoTD text. Fixing these bugs before the next publication would be ideal. I wouldn't worry about the pub schedule that much, as long as we have a plan how to get there. My interpretation is the heartbeat requirement to publish latest every 3 months is purely advisory.

All - the revised plan is to publish as soon as

[2016-01-29 17:53] mfoltzgoogle commented on #80
I think the spec reflects the current thinking about cross-origin connection in the working group.  We'll probably revisit this as we make progress on network-level specification, but I'm closing this for now.

[2016-01-29 17:53] #80 closed

[2016-01-29 17:59] mfoltzgoogle commented on #244
I would feel good if we could address the issues with actions/resolutions from TPAC as well as based on the interim review from PING.  This includes:

#79 Presentations from within nested browsing contexts
#45 Security and privacy considerations
#223 Implementation guideline: users should have a way to know which origin is being presented at any time
#224 Think more about privacy implications in m

[2016-01-29 18:34] anssiko commented on #244
@mfoltzgoogle Thanks, I'd feel good too if we'd be able to fix those issues as well, even if they'd be non-normative, apart from #79. Let's aim to fix them too.

All - here's the list of issues we want address before the wide review WD publication:

https://github.com/w3c/presentation-api/milestones/wide-review-WD

[2016-01-29 19:10] mfoltzgoogle commented on #223
Request for clarification: Is the suggestion to show the origin that is requesting presentation (i.e. from a controlling browsing context) or the origin being presented (i.e. in a receiving browsing context).

[2016-02-01 10:35] tidoust commented on #223
My recollection of the discussion we had with PING is that the focus was from a controlling browsing context perspective, and that the goal was to ensure that the user has a way to tell which origin is being presented from the chrome of the controlling user agent.

I realize that, in the generic case, the controlling user agent may not be able to guarantee that the origin displayed in its chrome i

[2016-02-01 18:02] #79 closed

[2016-02-01 18:28] #211 closed

[2016-02-01 19:32] mfoltzgoogle commented on #241
We currently require that the messages are sent in-order but don't require a concept of a buffer or queue.    One could imagine that messaging is implemented by IPC (for the 1-UA scenario) or server messaging (where the messages may be buffered outside the context of the user agent).  How would we define the `bufferedAmount` attribute to cover all these cases?

[2016-02-01 19:53] mfoltzgoogle commented on #240
Trying to generalize this beyond WebSockets a bit, the use case for closing seems to be the following:

- One of the parties (A) in the PresentationConnection calls `close()`.
- The other party (B) will be allowed to transmit messages while the request to close is sent to B.
- A wants to receive these final messages from B.
- Once B gets the close request, it notifies A that it's done sending and

[2016-02-01 20:36] mfoltzgoogle commented on #223
Thanks, that was my understanding as well.  I don't plan to propose any guidelines for the receiving user agent, at this point, although as you say in the 2-UA case the controlling UA would have to assume it's behaving as expected.

Instead, I will propose some guidelines for the controlling user agent to show the user what origin is being requested for presentation.

[2016-02-01 21:54] tidoust opened #253 "Have the receiving browsing context generate the presentation identifier?"
In the spec, the presentation identifier identifies a receiving browsing context. To reconnect to a session running on some receiving user agent, all a Web app should need is the presentation identifier and the presentation URL. This allows to pass the identifier from one user agent to the other.

For this to work, the receiving user agent needs to know how to associate a presentation identifier w

[2016-02-01 22:03] tidoust opened #254 "When is the first presentation connection created in the receiving browsing context?"
The spec does not say anything about the creation of the first presentation connection in the set of presentations on the receiving side.

When the receiving browsing context is created, the `PresentationReceiver` singleton is created as well. Should the receiving user agent also create the first `PresentationConnection` instance at the same time? Also, what should its presentation connection stat

[2016-02-01 23:09] mfoltzgoogle commented on #223
Actually the PR does talk about the requirements for the receiving user agent, but not the receiving browsing context.  (I think that reflects the idea of https://github.com/w3c/presentation-api/issues/223#issuecomment-177902959).

[2016-02-02 00:57] mfoltzgoogle opened #255 "Is a new Permission type required for presentation display availability?"
This issue considers whether it's required to add an explicit enum to the Permissions API [1] to track the request by a page to monitor presentation display availability via the Presentation API [2] (as a followup to https://github.com/w3c/presentation-api/issues/45#issuecomment-153300990).

Currently, user agents may deny the request for continuous monitoring of screen availability based on power

[2016-02-02 01:02] mfoltzgoogle commented on #45
Status:

- I filed #255 and CCed the editors of the Permissions API to follow up on action #2 above.
- Outstanding PR #251 addresses #223 and #224 raised by the recent PING review.

I see there are a couple of comments above regarding DIAL URLs and one inline issue, let's address these and then I will move to close this, assuming no outstanding comments.

- https://github.com/w3c/presentation-api/

[2016-02-02 09:12] anssiko commented on #255
I think the initial idea was to add "partial enum" support to WebIDL, but since that [has not yet made it to WebIDL][1], patching `PermissionName` is the way. I believe the editors @mounirlamouri @marcoscaceres will appreciate a PR and given this API ships in Chrome there's a good reason for "presentation" to be included (considering e.g. "midi" is included, "presentation" likely matches the same

[2016-02-02 14:12] tidoust commented on #223
The PR looks good but only covers the case when the user is asked for permission. It does not suggest that the controlling user agent should provide users with a way to tell which origin is being presented at any time after that, as initially suggested by PING. Or is that on purpose (e.g. because it may not be able to guarantee that the information is correct as raised above)?

[2016-02-02 15:00] mounirlamouri opened #256 "Rename 'closed', 'terminated' and 'connected' events to 'close', 'terminate' and 'disconnect'"
AFAICT, we don't usually use the passive form for events. For example, it's the `change` event, not `changed` event. I think we should rename these three events to not be passive. It would match better other specifications.

We might want to rename the 'closed' reason to 'close' too but I do not feel very strongly about that.

[2016-02-02 15:26] tidoust commented on #240
@mfoltzgoogle wrote:

Despite what I thought initially, at the API level in both WebRTC and WebSockets, A *cannot* receive these final messages even if it wants to (state is switched to `closing` immediately when `close()` is called and the specs require user agents to discard any message when state is not `connected`). This makes sense, receiving a message after calling `close()` seems counter-in

[2016-02-02 18:51] mfoltzgoogle commented on #18
That makes sense.  When I was looking at this earlier, I didn't find a way to allow navigation among fragment identifiers.  The flag I would set on the receiving browsing context [1] would seem to prohibit all top level navigations, even among fragment identifiers.

[1] https://www.w3.org/TR/html5/browsers.html#sandboxed-top-level-navigation-browsing-context-flag

[2016-02-02 18:53] mfoltzgoogle commented on #223
I think resolving #18 as you suggested will take care of this, although we should probably say something about using the origin loaded in the receiving browsing context after redirects are resolved.

[2016-02-03 22:04] mfoltzgoogle commented on #223
Closing this issue, assuming that we resolve #18 to ensure that the receiving browsing context cannot navigate across origins.

[2016-02-03 22:04] #223 closed

[2016-02-03 22:04] #224 closed

[2016-02-04 09:22] anssiko commented on #244
Current status of the wide review WD publication and issues blocking it is the following:

**Closed issues:**
#79 Presentations from within nested browsing contexts
#211 binaryType attribute's default value and get/set behaviour needs to be specified
#223 Implementation guideline: users should have a way to know which origin is being presented at any time
#224 Think more about privacy implications

[2016-02-04 10:35] tidoust commented on #241
These are good points. I suspects we can find workarounds, e.g. using specific values for `bufferedAmount` to avoid introducing additional requirements on the data channel. The property could always return `0` when IPC is used as it probably does not introduce noticeable delivery lags from an application perspective. Similarly, a `-1` value (or a separate flag) could mean "I do not know".

The mai

[2016-02-04 17:31] #165 closed

[2016-02-04 17:32] #193 closed

[2016-02-04 17:32] #229 closed

[2016-02-04 17:32] #245 closed

[2016-02-04 21:01] #45 closed

[2016-02-04 21:04] mfoltzgoogle commented on #244
I've merged the most recent PRs after addressing comments.  @anssiko, perhaps we should restart the clock for a CfC, as there have been a significant number of changes landed since the last one.

[2016-02-04 21:14] anssiko commented on #244
All - please review the latest Editor's Draft and let us know by 11 Feb if you have any concerns. After that date we aim to publish a wide review WD.

Thank you @mfoltzgoogle, @tidoust and others for helping close the issues blocking this release.

[2016-02-05 09:22] anssiko commented on #244
What we still need before we publish is to reword the [Status of This Document][1] section.

@tidoust volunteered to take a stab at it.

This is the current text that I suggest we remove and replace with something that better communicates the current status and e.g. notes the horizontal reviews we've completed:

[1]: https://w3c.github.io/presentation-api/#sotd

[2016-02-05 14:47] tidoust opened #259 "Should `reconnect` fire a `connectionavailable` event when it returns an existing presentation connection?"
Right now, the `reconnect` procedure always fires a `connectionavailable` event, even when it returns a `PresentationConnection` object created by the current browsing context.

Without having given it much thoughts, I would rather assume that a given `PresentationConnection` instance would only trigger one `connectionavailable` event. That seems to match the description of the `PresentationConnec

[2016-02-05 19:29] #256 closed

[2016-02-05 20:40] mfoltzgoogle commented on #240
If that's true, then I agree that a closing state doesn't seem warranted.  It seems like it doesn't add any functionality that either connected party could take advantage of.

[2016-02-05 20:40] #240 closed

[2016-02-05 20:47] mfoltzgoogle commented on #205
I think the spec currently addresses this, although it could be more explicit:

We should update the text to state that these properties are defined for both conformance classes, and that they return null in cases where the corresponding conformance class is not implemented.

[2016-02-05 20:52] mfoltzgoogle commented on #259
I agree your interpretation is more consistent with the event definition.  Feel free to submit a PR to remove step 6-3 from the reconnect algorithm.

[2016-02-05 20:54] mfoltzgoogle commented on #255
First I'd like to see a good justification for adding the permission to begin with.  I am wondering how the initial set of permissions were chosen for the Permission API and what the criteria are for adding new ones.

[2016-02-05 20:59] mfoltzgoogle commented on #242
We should ensure the use cases/reqs document [1] and examples [2] cover both of these use cases, and it's clear from reading the examples which use cases are demonstrated.  I'm pretty sure they do, but some clarifications are possible.

[1] https://github.com/w3c/presentation-api/blob/gh-pages/uc-req.md
[2] http://w3c.github.io/presentation-api/#examples

[2016-02-05 22:33] mfoltzgoogle commented on #154
The current spec uses _presentation request URL_ for the URL associated with a presentation request object and _presentation URL_ for the URL associated with a presentation connection object

I don't think we need the concept of a _display availability URL_ any more, since we determine availability using the _presentation request URL_.

The action is to fix the remaining reference to  _display ava

[2016-02-07 22:35] mounirlamouri commented on #255
I think we should add `presentation` only if it is used by some UA. At the moment, I don't think there is a need for it and it would be a no-op permission. I'm not sure it is worth it.

Regarding `midi`, it was added becaus of `sysex` being linked to a permission (at least in Chrome) and the design of midi is to _request_ midi access. As a consequence, for completeness, instead of having a `midi-s

[2016-02-08 09:04] anssiko commented on #153
Looping in this issue:

After TPAC a repo was created for discussing the idea of interoperable protocols for the Presentation API. A venue for these discussions was proposed to be the CG. We received some initial input based on which I crafted the initial draft CG charter structure.

* Draft *CG* charter: https://webscreens.github.io/cg-charter/

For future contributions toward this protocol-level

[2016-02-08 10:17] louaybassbouss commented on #205
thx @mfoltzgoogle I will update the WebIDL-harness according to your proposal. We can also close issue #230.

[2016-02-08 10:51] louaybassbouss commented on #230
@mfoltzgoogle I just replied to your original issue #205.  Regarding your question: exactly each conformance class have its own IDL test. If we tag in the spec the parts of the IDL to be present in the receiving or controlling UA, we can then extract the IDL for each conformance class automatically.  For now I extract the complete IDL using the following function and then split the IDL for each co

[2016-02-08 19:07] mfoltzgoogle commented on #230
Thanks @louaybassbouss.

[2016-02-08 19:14] #154 closed

[2016-02-09 01:40] #205 closed

[2016-02-09 17:12] #259 closed

[2016-02-10 14:54] anssiko commented on #230
To make programmatic IDL extraction possible, you could split IDL blocks using `partial interface` as follows:

[code]

The spec is currently worded as per option 1, i.e. the attributes are null in the other context:

To specify this as per option 2, i.e. the attributes do not exist in the other context, we would probably need to use the [\[Exposed\] extended attribute][1], and define another glob

[2016-02-10 15:09] anssiko commented on #230
It appears https://github.com/w3c/presentation-api/pull/261 already clarified the handling of attributes (addressing https://github.com/w3c/presentation-api/issues/205), so we can close this issue (again).

@mfoltzgoogle @louaybassbouss you may still want to consider splitting the relevant IDL block into two `partial interface` blocks to ease programmatic IDL extraction. That is an editorial chang

[2016-02-10 15:48] tidoust commented on #230
@anssiko Web IDL is not entirely clear about that but I think that there would need to be a concrete `interface` defined that the `partial interface` blocks would extend. In our case, that would mean adding the following empty interface somewhere:

[code]

[2016-02-10 19:44] anssiko commented on #230
@tidoust that is correct, we need such an empty concrete interface since there are no other interface members. Thanks for clarification.

[2016-02-11 21:49] #18 closed

[2016-02-11 21:54] mfoltzgoogle commented on #244
A new working draft has just been published at the following URL:

https://www.w3.org/TR/2016/WD-presentation-api-20160211/

[2016-02-11 21:57] mfoltzgoogle opened #265 "travis-cl complains about obsolete nvm version"
When publishing the last working draft, travis-cl complained that the version of `nvm` is out of date:

[code]

I am not sure how to update the version of `nvm` run in the container but can investigate.

On the other hand, the only thing our travis-cl script does is to run `curl`; I am wondering if we need to mess with node.js at all.

[2016-02-12 07:58] anssiko commented on #244
Thank you everyone -- this is the most complete publication of the Presentation API to date!

Presentation API W3C Working Draft 11 February 2016
https://www.w3.org/TR/2016/WD-presentation-api-20160211/

Spec status as reported in the publication:

For this publication, we fixed [all the issues that were blocking this release][1] in time and went the extra mile by [closing additional issues][2] du

[2016-02-12 07:58] #244 closed

[2016-02-12 09:08] anssiko opened #266 "[meta] Presentation API Testing"
When doing a larger change spanning across components it is often helpful to have a single issue for tracking the bigger change. This is such a "meta issue" for tracking the development of the test suite for the Presentation API.

**Tasks and related sub-issues:**

- [ ] Update initial `web-platform-tests` PR: w3c/web-platform-tests/pull/2432
- [ ] Split `interface Presentation` IDL into partials:

[2016-02-15 13:09] anssiko opened #268 "Annotate IDL blocks with idl-controlling-ua and/or idl-receiving-ua classes"
Via @louaybassbouss:

Add for all IDLs the class `idl-controlling-ua` or `idl-receiving-ua` to make extraction (programatically) of IDLs for only controlling UA or receiving UA easier. If an IDL is required for both conformance classes (e.g. `PresentationConnection`), we can assign the two classes to the IDL at same time.

[2016-02-15 13:10] #230 closed

[2016-02-15 13:26] louaybassbouss commented on #266
thx @anssiko. I will take the responsibility to keep the IDL-harness up-to-date with the spec. I will try to extract the IDL for each conformance class (controlling and receiving UA) programatically.
I'd like also to ask Presentation API implementors to share with the group more information about their implementations e.g. which version of controlling UA, which presentation devices, limitations, e

[2016-02-15 13:29] louaybassbouss commented on #268
Thx @anssiko LGTM

[2016-02-15 13:54] anssiko commented on #266
Thanks @louaybassbouss. I updated the initial comment with the suggested tasks for basic tests, and will link to related issues when they appear.

[2016-02-17 14:15] anssiko commented on #266
The [initial PR has landed][1] to establish the test structure for the Presentation API, so you're now able to run the work-in-progress tests in-browser at:

http://w3c-test.org/presentation-api/

The Presentation API tests are located in the `w3c/web-platform-tests` repo at:

https://github.com/w3c/web-platform-tests/tree/master/presentation-api

(I added these links to the head of the spec and u

[2016-02-17 16:45] louaybassbouss commented on #266
thx @anssiko. I just submitted a new [PR][1] to the `web-platform-tests` repo containing an update of idlharness.html for controlling and receiving UAs according to the lastet ED from today.
Volunteers a welcome to review this PR. Please add a comment to the [PR][1] after review (if everything is fine just put LGTM).

[1]: https://github.com/w3c/web-platform-tests/pull/2586

[2016-02-25 17:02] mfoltzgoogle opened #269 "Only allow one PresentationAvailability per PresentationRequest"
The way the `getAvailability` algorithm is written [1], calling it multiple times on the same `PresentationRequest` will create multiple `PresentationAvailability` objects.  I think the intention is that there should be at most one created per `PresentationRequest`.

A small update to the algorithm should resolve this issue.

[1] https://www.w3.org/TR/presentation-api/#getting-the-presentation-dis

[2016-03-15 08:28] anssiko commented on #266
@zqzhang Could you look into creating some of the basic tests enumerated in https://github.com/w3c/presentation-api/issues/266#issue-133190198?

[2016-03-16 05:19] marcoscaceres commented on #255
The same applies to other things in the spec: they were already asking for permission.

[2016-03-20 20:56] tobie opened #271 "Use NotAllowedError for permission denied instead of AbortError"
When the user denies permission in step 10 of [6.3.2 Starting a presentation](https://w3c.github.io/presentation-api/#starting-a-presentation), the promises is rejected with an `AbortError`.

It seems a more appropriate error would be the [`NotAllowedError`](http://heycam.github.io/webidl/#notallowederror); unless, of course, `PermissionDeniedError` [becomes a thing](https://github.com/heycam/webi

[2016-03-21 11:50] mounirlamouri commented on #271
Using `NotAllowedError` here sgtm. I sent a PR: #272.

[2016-03-22 13:42] smaug---- opened #273 "PresentationConnectionClosedEventInit.message needs to have a default value"
...otherwise it isn't clear what the value of the following is:
(new PresentationConnectionClosedEvent("foo", { reason: "error" })).message

In general in dictionaries passed to an event constructor the properties need to have either default value or marked required.

[2016-03-25 20:10] mfoltzgoogle commented on #86
PR #274 adds some text for the case discussed in the previous note.

After some thinking I didn't think it was worth patching the start algorithm to explicitly bypass the "ask permission" step.  As written, I think there is leeway for the user agent to consider the pre-selection of the display (e.g., via tap-to-present) as granting permission, and make its own security/convenience tradeoff.

I'll

[2016-03-31 05:26] mfoltzgoogle commented on #86
PR #274 merged.

[2016-03-31 05:26] #86 closed

[2016-04-01 12:04] anssiko opened #275 "User Data Controls in Web Browsers guidelines"
@travisleithead of TAG [reports][1]:

Actions to the group:

- [x] Review the [User Data Controls in Web Browsers][2], provide feedback as comments in this issue
- [ ] Implement the guidelines in the Presentation API where applicable

Actions to @tidoust @anssiko:

- [ ] Summarize and submit the group's feedback to TAG

(For the context, the private mode was first discussed in the context of #45.)

[2016-04-01 12:06] annevk commented on #99
Reuse of :fullscreen should be discussed here: https://github.com/whatwg/fullscreen/issues

Monkey patching the methods in OP should probably be discussed here: https://github.com/whatwg/html/issues and the correct CSSWG repository. I guess we could set some kind of flag on the environment settings object that would cause these methods to throw (or simply return) when set.

[2016-04-04 13:04] anssiko opened #276 "[meta] Publish Candidate Recommendation"
The Candidate Recommendation (CR) publication of the Presentation API is looming in the horizon. By publishing a CR we:

* signal the group has met its requirements satisfactorily for a new standard,
* ask the entire W3C membership to provide feedback,
* formally collect implementation experience to demonstrate that the specification works in practice.

While we're well on our way to satisfy the [

[2016-04-06 13:11] tidoust commented on #202
I agree with @anssiko (in #276) that this can be considered a new candidate feature for v2 at this stage and have updated the labels accordingly.

[2016-04-06 13:38] tidoust commented on #276
@anssiko, I agree that #202 (Presentations without communication channel) can be considered a new feature and defered to v2. I updated issue labels accordingly.

Although not explicit in the [CR requirements](https://www.w3.org/2015/Process-20150901/#candidate-rec), publication as CR normally implies that known technical issues have been addressed and more generically that the group has solved all

[2016-04-12 12:28] anssiko commented on #162
Accessible Platform Architectures (APA) Working Group has produced an [observations document][1] as a response to the [Request for an accessibility review of the Presentation API][2].

Summary: APA did not find any issues that would suggest changes to the spec.

@tidoust Since you interfaced with the APA folks, would you like to thank them for their review and confirm with them we can close this i

[2016-04-12 12:40] anssiko commented on #276
As suggested by @tidoust, let's apply the proven formula from January to the above issue list.

Anyone is free to pick any issue from the above list, address it by submitting a PR, or by suggesting text in the issue comments to be integrated. The results of this collaborative exercise is to be summed up at the F2F.

[2016-04-13 15:26] tidoust commented on #162
@anssiko I got back to the Accessible Platform Architectures Working Group:
https://lists.w3.org/Archives/Public/public-apa/2016Apr/0028.html

I asked them to confirm that we may close this issue.

[2016-04-14 15:29] tidoust commented on #271
PR was merged, closing this issue accordingly.

[2016-04-14 15:29] #271 closed

[2016-04-18 18:55] mfoltzgoogle commented on #163
Hi @domenic, this issue was tagged for consideration as the Presentation API moves towards Candidate Recommendation.   Thanks for your detailed answers earlier.

I briefly reviewed the state of the Streams specification [1] and wanted to share how it might fit in with the Presentation API.

It looks like from an API point of view,  the suggested integration is to expose a way to get the ReadableBy

[2016-04-18 20:31] mfoltzgoogle commented on #218
Reviewing this thread in light of our desire to publish a Candidate Recommendation for the Presentation API.

Some background: I reached out a while ago to blink-dev@ and got feedback that indeed, the lang= does influence font selection when rendering. [1]

It sounds like there are two distinct issues that we may want to address with specification language.

1.  When a user requests presentation,

[2016-04-18 20:33] mfoltzgoogle commented on #218
Also: I can also include a note to avoid ambiguous characters like backslash, but that seems like general Web development guidance and not specific to Presentation API.

[2016-04-18 23:14] mfoltzgoogle commented on #241
As long as there is a reasonable accommodation when the concept of "bufferedAmount" does not apply to a particular messaging transport, I'm fine with adding it.  But it feels like an enhancement that could be added later, and I would still like to see when it would be useful in practice.

[2016-04-18 23:33] mfoltzgoogle commented on #253
The current spec does pass the identifier from the controller to the receiver [1].  Since additional controllers need the same identifier to reconnect it seems like the same identifier will get used for all connections?

There is an issue you note with different receiving contexts within the same receiving user agent ending up with the same presentation URL and identifier.  In fact, it looks like

[2016-04-18 23:35] mfoltzgoogle commented on #241
Note, also, that the Streams spec allows explicit management of backpressure (buffer length) [1].  So this enhancement could be addressed by adding Streams support to the PresentationConnection interface.

[1] https://streams.spec.whatwg.org/#queuing-strategies

[2016-04-19 01:08] tomoyukilabs commented on #218
@mfoltzgoogle Thank you. Both item 1 and 2 look good to me. As you mentioned, authors can solve item 2 by themselves, while item 1 needs implementation of `accept-language` support. Thus I also think item 1 as guidance for implementors and item 2 as guidance for authors make sense.

I agree with this.

[2016-04-19 09:38] tidoust commented on #241
I agree that this can be added later on, that we haven't heard about concrete use cases that would make it a priority, and that a `bufferedAmount` property is just one of the possible solutions in any case.

**PROPOSED RESOLUTION:** Close #241 "bufferedAmount property on PresentationConnection". We will not add a congestion control mechanism in this version of the Presentation API

[2016-04-19 10:08] anssiko commented on #276
I updated the first comment in this issue to link to the known CR blockers, split in two buckets: (1) issues we think can be addressed before the F2F, and (2) issues that require F2F discussion. Please see:

https://github.com/w3c/presentation-api/issues/276#issue-145678322

We're making good progress in addressing the first bucket of issues -- contributions from all group participants are welcome

[2016-04-19 14:19] tidoust opened #279 "Specify the algorithm for generating a presentation identifier"
This idea has been raised a couple of times, including in:

* #165 conflict description for uniquely identifying a presentation session, see https://github.com/w3c/presentation-api/issues/165#issuecomment-147452520
* #253 Have the receiving browsing context generate the presentation identifier?

The presentation identifier needs to be unique across possible controlling and receiving browsing conte

[2016-04-19 14:28] tidoust commented on #253
Yes, or the `id` attribute would need to return `null` as long as the identifier is not known, but that looks bad.

Anyway, my initial worry misses one counter-example: if the identifier is generated by the receiving user agent, two receiving user agents could also still create the same identifier for a given presentation connected to two different tabs of a controlling user agent. In such a case,

[2016-04-19 19:27] domenic commented on #163
Thanks for your thoughts! I think we are in general aligned on direction :). More detail below.

The names are traditionally `readable` and `writable`, and there is no need to hide them behind a promise (see below).

Conceptually, they should be instantiated along with the connection. The analogy with Fetch here is that a PresentationConnection is kind of like a Request; there is no fetch-like two

[2016-04-19 23:18] mfoltzgoogle commented on #218
PR #280 contains my suggested language along the lines above.  PTAL

[2016-04-19 23:18] mfoltzgoogle commented on #241
Closing for now.  We can reopen if use cases or demand arise.

[2016-04-19 23:18] #241 closed

[2016-04-20 02:05] schien opened #281 "PresentationReceiver.connectionList doesn't return the same object all the time"
In current WebIDL definition `connectionList` is marked with `[SameObject]` extended attribute [1].
[code]
However in the algorithm it will create a new Promise object once the previous one is settled, which conflict to the `[SameObject]` contract.

s/unsettled Promise/Promise in step 1 should make the algorithm follow the WebIDL definition.

[1] https://w3c.github.io/presentation-api/#interface-p

[2016-04-20 18:35] anssiko commented on #162
Joanmarie Diggs of APA [confirms][1]:

[1]: https://lists.w3.org/Archives/Public/public-apa/2016Apr/0048.html

[2016-04-20 18:35] #162 closed

[2016-04-20 20:48] mfoltzgoogle commented on #163
Thanks for the feedback @domenic.   With your suggestions the Streams-compatible API might be:

[code]

In the scope of current work on the Presentation API, I plan on closing this issue, since I don't see timelines lining up for us to add a Streams API in the CR time frame.

However, I will file a new issue referencing this to experiment with the polyfill mentioned above.

[2016-04-20 20:48] #163 closed

[2016-04-20 20:52] mfoltzgoogle opened #282 "[Streams] Prototype a Streams API compatible PresentationConnection"
In Issue #163 @domenic and I discussed the possibility for adding Streams-compatible APIs for messaging to the PresentationConnection.  While it looks like timelines don't line up to add this work directly to the spec, we should experiment with polyfills for this behavior so that when Streams is ready for implementation we already have an idea of what APIs would work well.

Benefits of Streams:
*

[2016-04-21 08:10] schien opened #283 "define error handling if fail to establish presentation connection on receiving UA"
In [section 6.7.1](https://w3c.github.io/presentation-api/#monitoring-incoming-presentation-connections) we always add a PresentationConnection with 'connected' state in to connection list. However it doesn't specify the error handling if UA fails to establish connection.

My suggestion is adding a PresentationConnection with 'closed' state but not fire `connectionavailable` event. Controlling pag

[2016-04-21 10:00] avayvod commented on #283
What about using the "connecting" state to match the controlling context?

[2016-04-21 12:11] schien commented on #283
`connecting` state looks like a temporary state that will be switching to other state soon without intervene. Personally I prefer a stable state like `closed` so that I know I need to explicitly trigger some action to enter `connected` state.

[2016-04-21 14:08] avayvod commented on #283
But as I understand, one would not need to trigger any action to enter 'connected' state, it's up to the UA. What action did you have in mind?

Currently, the receiving context will create a 'connected' PresentationConnection object and fire 'connectionavailable' with it. If there's an error establishing connection, either the event is not fired at all (if reading the algorithm steps, establishing

[2016-04-21 16:33] mfoltzgoogle commented on #218
Closing with the merge of PR #280.

[2016-04-21 16:33] #218 closed

[2016-04-21 17:22] mfoltzgoogle commented on #254
Closed by PR #277.

[2016-04-21 17:22] #254 closed

[2016-04-21 17:22] mfoltzgoogle commented on #269
Closed by PR #277.

[2016-04-21 17:22] #269 closed

[2016-04-21 17:22] mfoltzgoogle commented on #273
Closed by PR #277.

[2016-04-21 17:22] #273 closed

[2016-04-21 17:36] mfoltzgoogle commented on #281
This should also be addressed by PR #277.

[2016-04-21 17:36] #281 closed

[2016-04-21 17:38] mfoltzgoogle commented on #279
I'll follow the example of the MediaStream.id specification, which references specific sections of RFC 4122 [1].

[1 ]http://w3c.github.io/mediacapture-main/#attributes

[2016-04-21 18:47] mfoltzgoogle commented on #253
PR #284 specifies the algorithm for setting the id and also passes the id from the controller to the receiver, so that the id should be the same for all connections to the presentation.

[2016-04-21 18:47] mfoltzgoogle commented on #279
PR #284 posted to address this issue.

[2016-04-22 08:00] schien commented on #283
Here is the behavior I have in mind after reading the draft updated yesterday.

If UA is still retrying the connection establishment, staying in `connecting` state on both controller and receiver is reasonable. If UA stops retrying connection establishment, this PresentationConnection should enter 'closed' state on both controller and receiver.

On controller side, a statechange (from `connecting`

[2016-04-22 09:32] avayvod commented on #283
That phrasing sounds good to me.

We may have a use case for the receiver to know about the connecting happening. For example, a game could indicate that the second player is trying to connect on the second screen for the first player to be aware and show success / failure depending on whether the state changes to 'connected' or 'closed'. However, this behavior can be added later if the use case i

[2016-04-22 09:54] schien commented on #283
Agree. With current API game developer can already show 'waiting for player' / 'here comes a challenger' via `connectionavailable` event. Revealing the PresentationConnection in `connecting` state doesn't add much value IMO.

[2016-04-25 17:12] mfoltzgoogle commented on #253
Closing with the PR to clarify about ID passing.

[2016-04-25 17:12] #253 closed

[2016-04-25 17:12] mfoltzgoogle commented on #279
Closing with the PR that specifies the ID generation algorithm.

[2016-04-25 17:12] #279 closed

[2016-04-25 17:19] mfoltzgoogle commented on #255
@anssiko Are you still in favor of adding a permission given the feedback of @mounirlamouri and @marcoscaceres?

[2016-04-25 17:39] anssiko commented on #255
I did not have a strong position on this issue -- I was just pointing out how we'd need to mechanically patch `PermissionName` enum if the group would decide to go down that path.

I haven't heard any implementer voice concerns over not having Permissions API integration, also horizontal reviews beyond TAG did not raise this as an issue. That suggests we would be fine closing this issue without no

[2016-04-26 12:07] schien opened #285 "clean up description for section 6.7.1"
At the end of section 6.7.1, there is a paragraph says:
[code]

This seems like a leftover of old spec and doesn't match with the behavior latest promise-based connection list interface. Should we remove it f?

[2016-04-26 12:38] avayvod commented on #285
SGTM

[2016-04-26 16:59] #285 closed

[2016-04-26 17:11] mfoltzgoogle commented on #283
Sounds reasonable.  The editor welcomes pull requests that implement your suggestions :)

[2016-04-29 02:53] zqzhang commented on #266
@yhe39 will jump in this after the International Labor Day holidays.

[2016-04-29 03:13] schien opened #288 "define the detailed behavior of disable Presentation API in sandbox"
In current spec it only says:
[code]

There are two entry points of Presentation API for controller.
1. navigator.presentation: we can return `null` if Presentation API is disabled in sandbox.
2. window.PresentationRequest: we can either throw a `InvalidAccessError` while constructing PresentationRequest or hind PresentationRequest from window object.

[2016-05-02 07:51] anssiko commented on #266
Thanks @zqzhang and @yhe39 -- please coordinate your test contributions with the Test Facilitator @louaybassbouss. He indicated he'd have new contributors to help with testing too.

@louaybassbouss feel free to share your plans and expected schedule. It'd be good if this meta issue would be kept updated as the testing progresses as to allow more people jump in and help.

[2016-05-02 08:25] anssiko opened #289 "[meta] Publish a new Working Draft before the F2F - review the latest ED by 9 May"
The latest formal publication of the Presentation API is the [W3C Working Draft 11 February 2016][1].

Since then, we've resolved all the issue that were identified as ones that can be address before the F2F (see #276). I suggest we publish a new WD before the F2F, since these changes are considered significant, and it is good to have a fresher spec on TR in general.

@tidoust I assume no process

[2016-05-04 15:49] tidoust commented on #289
@anssiko I confirm that there are no process issues. The concept of "wide review WD" does not even exist as such in the process. I created PR #291 to refresh the Status of This Document section for the upcoming publication and in particular summarize the changes made since February.

[2016-05-05 15:21] mounirlamouri opened #293 "defaultRequest text should explicitely mentions iframes that have presentation disabled from sandboxing"

[2016-05-06 17:51] mfoltzgoogle commented on #288
@schien, can you please review the spec after I just merged PR #292 by @mounirlamouri and let me know if it addresses your concerns.

[2016-05-09 03:59] schien commented on #288
I'm ok with always return a valid `Presentation` object and throw `SecurityError` while accessing it in sandbox.

[2016-05-09 16:22] mfoltzgoogle commented on #288
Thanks @schien.  Closing now.

[2016-05-09 16:22] #288 closed

[2016-05-10 13:42] anssiko commented on #289
Hearing no concerns and #291 landed, we're good to publish a new Working Draft.

@mfoltzgoogle please proceed with the WD publication.

[2016-05-10 20:38] mfoltzgoogle commented on #289
A new Working Draft has been published, dated 10 May 2016.

https://www.w3.org/TR/2016/WD-presentation-api-20160510/

[2016-05-10 20:38] #289 closed

[2016-05-10 21:26] anssiko commented on #289
Congrats and thanks everyone who helped make the spec ready for publication.

The Presentation API publication history https://www.w3.org/standards/history/presentation-api
shows how each new WD has improved the spec. The next publication milestone will be Candidate Recommendation, tracked in #276.

[2016-05-12 08:11] anssiko commented on #266
Initial test results published (thanks @louaybassbouss and @zqzhang):

https://w3c.github.io/test-results/presentation-api/controlling-ua/all.html
https://w3c.github.io/test-results/presentation-api/receiving-ua/all.html

These test results contain [idlharness.js][1] tests only at the moment. For increased coverage, @louaybassbouss, @zqzhang, and @yhe39 will be adding basic tests (see [the first c

[2016-05-12 08:36] louaybassbouss commented on #266
I am happy to announce that the first test report of Presentation API is published. It includes separate test results for Controlling [1] and Receiving [2] UAs. It considers for now only WebIDL tests. Many thanks to @zqzhang for the support. Also welcome @yhe39 from Intel, @mariuswsl and @taff-franck from Fraunhofer FOKUS who volunteered to support this activity. @mariuswsl and @taff-franck are wo

[2016-05-12 09:35] anssiko commented on #266
Thanks for the update @louaybassbouss, and welcome @mariuswsl and @taff-franck to the growing Presentation API testing team.

[2016-05-13 11:10] tidoust opened #295 "Check references category and stability"
I'm creating this issue to track down references. It does not need to be addressed before publication as a Candidate Recommendation.

For the Presentation API to be published as a final W3C Recommendation, normative references will need to reference stable specs, the rule of thumb being that a Recommendation should normatively link to other Recommendations (or similar documents published by other

[2016-05-18 13:26] tidoust commented on #265
See proposed pull request. We do not need Node.js at all and do not impose any version of nvm, so the error was on Travis CI side. That seems to have been fixed since no warnings were logged last time we published the spec.

Travis CI used to force people to select a specific language environment, but introduced a "generic" language some time ago as a way to say "no particular language, I'm just g

[2016-05-18 15:02] tidoust commented on #275
I reviewed the [User Data Controls in Web Browsers](https://gist.github.com/mnot/96440a5ca74fcf328d23) document. I have three comments on the document itself:

1. It does not mention permissions exposed to the Permissions API in parts of the Web platform affected by Site Data Controls, which could persist from one browsing session to another. If it's on purpose, I don't understand why.
2. I failed

[2016-05-18 17:31] #265 closed

[2016-05-20 12:14] mounirlamouri opened #299 "Move sandbox flag to HTML spec"
What the spec does is monkey patching the HTML spec which isn't great. They take pull request nowadays so we should probably send one.

[2016-05-24 12:45] louaybassbouss commented on #266
thx @mariuswsl [1] and @taff-franck [2] for the submission of new tests and @zqzhang for the review. These tests address the following features of the API:
* Monitor screen availability
* Launch new presentation
* Reconnect to a running presentation

Once the PRs are merge, I will publish a new test report.

[1]: https://github.com/w3c/web-platform-tests/pull/3063
[2]: https://github.com/w3c/web-p

[2016-05-24 19:03] anawhj commented on #99
I discussed a couple of CSS issues with @mfoltzgoogle, and delivered the issues in CSS WG as follows.

**New requirements for media queries from Second Screen WG**
https://lists.w3.org/Archives/Public/www-style/2015Dec/0017.html
https://lists.w3.org/Archives/Public/www-style/2015Dec/0031.html
* Summary:
  - media types were deprecated like media="tv", but there is no replacement
  - need to come u

[2016-05-24 23:37] tidoust commented on #255
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item13

**PROPOSED RESOLUTION:** re. #255, no new permission type required
**ACTION:** Mark to close issue #255 with summary of discussions.

[2016-05-24 23:38] tidoust commented on #275
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item14

**PROPOSED RESOLUTION:** complete the clear site data steps in the spec (add AppCache, Service Workers) and add non-normative note referencing TAG document for more complete list, add note clarifying this is not about defining private mode
**ACTION:** tidoust to inform TAG when the PR re clear site data lands and su

[2016-05-24 23:42] tidoust commented on #99
Discussed at the F2F:
http://www.w3.org/2016/05/24-webscreens-minutes.html#item16

Regarding methods identified at the beginning of the issue:
**PROPOSED RESOLUTION:** For methods that would require user input, add informative guidance to UAs about the need to handle them carefully.

Regarding CSS properties and media queries:
**PROPOSED RESOLUTION:** No change to the Presentation API, feature wou

[2016-05-25 00:42] #268 closed

[2016-05-25 00:48] anssiko commented on #293
ACTION @mounirlamouri to ship this before CR.

[2016-05-25 00:54] anssiko commented on #299
ACTION @mounir to craft a PR to upstream this feature to HTML.
ACTION @tidoust to update the SoTD section to mention the upcoming move.

[2016-05-25 01:36] mfoltzgoogle commented on #283
Addressed by the PR by @schien implementing the suggestion in https://github.com/w3c/presentation-api/issues/283#issuecomment-213311818.  Thanks!

[2016-05-25 01:36] #283 closed

[2016-05-25 16:04] anssiko opened #301 "Update acknowledgments"
The Acknowledgments section is out of date: https://w3c.github.io/presentation-api/#acknowledgments

We should either update it (or drop it altogether).

[2016-05-26 17:28] #301 closed

[2016-05-26 18:49] mfoltzgoogle commented on #99
@sicking Jonas, I wanted to touch on the second resolution, which you suggested in the minutes of the F2F.

* Are you suggesting that the Presentation API spec recommend that the receiving user agent append the string "tv" to `navigator.userAgent` if it was rendering on a television?
* How would we define "television"?  Is the criterion typical viewing distance or pixel density?
* If rendering in

[2016-05-26 18:49] sicking opened #303 "Define that "TV" should appear as token for UA-string when presentation API is used to render on TV"
Mozilla's experience is that the few websites that today target TVs require that a "TV" token is included in the UA string in order for the website to render an appropriate TV UI.

I think this is something that's worth getting into a specification as quickly as we can, in order to prevent the mess that we currently have on mobile. The problem on mobile was that originally there was no token to in

[2016-05-26 21:24] mfoltzgoogle commented on #255
Per discussion from F2F, there is no implementation today where there is a chance to skip the device selection list via `PresentationRequest.start()`.  Also the Permissions API editor @mounirlamouri does not deem a new permission necessary.

Closing.

[2016-05-26 21:24] #255 closed

[2016-05-26 22:08] mfoltzgoogle commented on #242
@birtles Sorry it took a while to get back to this!  Please take a look at PR #307 and see if that clarifies things for you.  Thanks.

[2016-05-27 00:17] birtles commented on #242
Thanks, looks good.

[2016-05-27 00:17] #242 closed

[2016-05-27 00:17] #228 closed

[2016-05-27 22:58] schien opened #309 "Wrong algorithm reference for terminating a presentation in a receiving browsing context"
In section 6.5 the reference algorithm should be link to terminating a presentation in a **receiving** browsing context for calling terminate() method in receiver page.

Original text in current spec.
[code]

[2016-05-28 00:25] mounirlamouri commented on #299
@tidoust this is now part of the HTML spec but I realise that Presentation API only uses the W3C-HTML spec so I can't yet update the spec. Can you ping some W3C folks to cherry-pick the change? :)

[2016-05-30 03:28] mnot commented on #275
Thanks for the feedback!

It's not meant to be a complete listing, but that's a good point; added.

Fixed.

It isn't the intent of this spec to define privacy mode for that purpose.

[2016-05-31 12:15] anssiko opened #311 "Add presentation request URL fallback mechanism"
[Discussed at the F2F, carving out into a separate issue.]

**PROPOSED RESOLUTION**: Add a fallback mechanism by adding a new constructor on `PresentationRequest` that takes an Array of DOMString, and by exposing the presented URL in an "url" attribute on `PresentationConnection`, pending feedback from implementers that this is doable.

For the full issue description and discussion, please refer t

[2016-05-31 13:08] anssiko commented on #276
Here's the summary of the PROPOSED RESOLUTIONs for the remaining CR blockers we discussed at the F2F.

@mfoltzgoogle I assume you'll update the spec to address the first four issues, and will sync with relevant implementers re #311 feasibility.

@tidoust When should we have a publication ready spec for the CR transition request if we'd like to publish by the end of June, or soon after? I'd like to

[2016-05-31 15:00] tidoust commented on #276
@anssiko

Before the spec may be published as CR, we need to organize a transition call with *the Director* (at least one week) and work with Comm team on the transition announcement (a couple of days). That would suggest **Friday 24 June** for a publication beginning of July, and thus **Monday 13 June** to issue the call for consensus.

[2016-06-01 03:31] schien opened #313 "mismatch onconnectionavailable handling for receiver in sample code"
In https://w3c.github.io/presentation-api/#monitor-available-connection-s-and-say-hello,

[code]
should be correct as
[code]

[2016-06-02 11:08] #299 closed

[2016-06-12 16:34] aphillips opened #315 "list of displays: should it address display name, language, etc.?"
The I18N working group is doing some housekeeping and found that we didn't forward the below [issue](https://github.com/w3c/i18n-activity/issues/113). Apologies for being late with this. Note that this may already be addressed by other threads about language.

http://w3c.github.io/presentation-api/

Section: The list of available presentation displays

This section contains the directive that:

Th

[2016-06-12 16:34] aphillips commented on #315
(could you please add the label "i18n" to this issue?)

[2016-06-13 08:26] anssiko commented on #99
#305 fixed the CR blocker part of the issue, namely:

I think @sicking might be unavailable for a while, so I'd leave the another part of the issue open to discuss CSS properties and media queries related matters (not blocking CR):

[2016-06-13 08:51] anssiko commented on #275
I believe we have a good proposal in PR #308 (please review) that we can land soonish and mark this issue closed.

[2016-06-13 09:05] anssiko commented on #311
@mfoltzgoogle Did you receive feedback from your folks on the feasibility? This remains the only, and pretty essential, unresolved issue blocking our CR release.

[2016-06-13 11:29] anssiko commented on #276
Current status: good progress, two CR blockers remain: #275 (have a PR #308) and #311 (no PR to review yet).

We aim to send out a CfC soon, but not today.

[2016-06-13 16:52] mfoltzgoogle commented on #311
I did get feedback on this issue.  It will take 2-3 weeks of effort but should not significantly derail the timeline for us to get to CR.

As far as the PR to implement the resolution, @mounirlamouri offered to draft one, but he has been pulled into other urgent work.  After addressing other issues in this repo, I can take this on.

[2016-06-13 17:57] mfoltzgoogle commented on #275
@anssiko It sounds like you want to close this now; do we want to file a separate issue to handle Service Workers?

[2016-06-13 18:11] mfoltzgoogle commented on #99
I believe Issue #303 handles one action this WG may take regarding the second proposed resolution (a proposal to add "TV" to the user agent string).

Adding media quer(y|ies) for this scenario seems to be in the hands of the CSS WG and the comments linked above in https://github.com/w3c/presentation-api/issues/99#issuecomment-221370990 were inconclusive as far as what direction that would take.

I

[2016-06-13 18:35] mfoltzgoogle commented on #303
This sounds like a workaround for a lack of CSS media queries for some document properties that might hold true when rendering on a presentation display.  What is a "TV" though?  Is it defined by screen size?  Pixel density?  Typical viewing distance? Input capability (or lack thereof)? Presence of HDMI inputs and a tuner?

Consider the following cases:
- Someone who uses a 81cm (32") or larger TV

[2016-06-13 18:46] mfoltzgoogle commented on #303
This proposal would solve the problem that a document doesn't know for sure it's a presentation until the `connectionList` promise is resolved, and so would have to delay style decisions until that point.

If we simply say that the receiving user agent should include "TV" in the UA string for the receiving browsing context, that would seem to avoid tricky questions about "what is a TV."

[2016-06-14 08:52] tidoust commented on #303
Doesn't the presence of the `receiver` attribute on `navigator.presentation` convey the same information?

[2016-06-14 11:23] anawhj commented on #303
Most of smart TVs has the customized UA string for TV device, so I think the condition which determines whether it's TV or not, seems not to be defined.

For one thing, chrome browser on LG webOS TV has the userAgent string value as follows.
Mozilla/5.0 (Linux; NetCast; U) AppleWebKit/... (KHTML, like Gecko) Chrome/... Safari/... SmartTV/7.0

[2016-06-14 12:45] anssiko opened #318 "Clear service worker's persistent storages in a receiving browsing context"
[This issue is spun off from #275.]

Need to specify how the service worker’s [persistent storages][1] are cleared in the receiving browsing context when [creating and closing a receiving browsing context][2] in accordance with the [User Data Controls in Web Browsers][3] guidelines.

[1]: https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#privacy
[2]: https://w3c.github.io/presentati

[2016-06-14 12:46] anssiko commented on #275
Addressed by #308 except for service worker's persistent storages for which I created its own issue #318.

Closing this issue now.

[2016-06-14 12:46] #275 closed

[2016-06-14 13:45] anssiko commented on #276
[CfC: Publish CR of Presentation API, review by 27 June][1]

[1]: https://lists.w3.org/Archives/Public/public-secondscreen/2016Jun/0071.html

[2016-06-14 14:36] tidoust commented on #315
I believe that the specification is silent on purpose here, to let implementers adjust their chrome and user experience as they see fit. For instance, a controlling user agent could choose to list displays that the user previously interacted with first, or sort displays it finds by proximity, or filter out displays that it deems not trustworthy, etc. In other words, the expectation is not that two

[2016-06-14 15:03] aphillips commented on #315
@tidoust There are a number of issues that _could_ arise, but these would depend on implementation details. As long as the spec doesn't make normative statements about the presentation of the list, though, I'm not sure you need to enumerate what all of the potential problems are. Which is why the issue basically asks "should there be something here?". I'm not sure that there should be.

The main i

[2016-06-14 15:58] tidoust commented on #315
Thanks for the feedback @aphillips.

We've dealt with language issues for messages exchanged between the controlling side and the receiving side over the communication channel (the spec now includes guidance for developers and a related example), as well as for passing the locale from the controlling side to the receiving side (now a SHOULD in the spec), but not really for the list of available di

[2016-06-14 17:37] #309 closed

[2016-06-14 17:38] #313 closed

[2016-06-16 20:39] mfoltzgoogle commented on #293
Merged PR #317 with an updated version of the wording suggested in PR #310.

[2016-06-16 20:39] #293 closed

[2016-06-21 02:52] tomoyukilabs commented on #303
One of differences between display and TV is that [overscan](https://en.wikipedia.org/wiki/Overscan) is typically applied to TVs. TVs in overscan mode hide a 5% margin of a picture and show the rest in full screen.

Generally, TV app developers should be careful that UI could work properly whether a TV would be in overscan mode or not. (It is unnecessary for displays, though.) For example, picture

[2016-06-22 14:10] anssiko commented on #276
Presentation API CR publication status update:

In the [Call for Consensus][1] sent 14 June we set the following condition for the CR publication:

This condition is not yet met, thus we may want extend the CfC slightly to ensure appropriate review time.

All - this is a great opportunity to help close these two remaining CR blockers so we can advance the spec to CR. All contributions welcome!

[1

[2016-06-24 09:17] tomoyukilabs commented on #318
I'd like to show a rough proposal like below:

When creating a receiving browsing context,

* create a new empty [list of registered service worker registrations](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#service-worker-registration-lifetime) for the receiving browsing context. (This corresponds to "scope to registration map" and "script resource map".)
* create a new empty

[2016-06-27 10:25] louaybassbouss commented on #266
I just submitted a [PR][1] for second test report. @zqzhang can you review and merge.

[1]: https://github.com/w3c/test-results/pull/25

[2016-06-27 10:37] anssiko commented on #266
Thanks @louaybassbouss! Ping @Honry who can probably help review. @zqzhang may be unavailable currently.

[2016-06-27 11:30] louaybassbouss commented on #266
done. BTW I also submitted a new [PR][1] with idlharness updates. @Honry can you also review and merge this.

[1]: https://github.com/w3c/web-platform-tests/pull/3238

[2016-06-27 11:39] anssiko commented on #318
Thanks @tomoyukilabs! Could you perhaps craft a PR to help integrate this to the spec? We can iterate it further using PR comments as needed ([instructions in the wiki][1]).

Alternatively, @mfoltzgoogle as the editor can probably help with the PR too.

[1]: https://www.w3.org/wiki/Second_Screen/Work_Mode#Direct_Spec_Contributions

[2016-06-27 11:49] anssiko commented on #276
Status update for the remaining CR blockers:
* [x] #311 fixed with #316 (thanks @mfoltzgoogle)
* [ ] #318 has a [proposed fix][1] (thanks @tomoyukilabs) pending review and integration into the spec

Given #316 had a review time of 14 days with no major concerns, and there's a [proposed fix][1] for #318 (smaller interoperability impact), the initial CfC holds and after landing the fix for #318 we p

[2016-06-27 11:54] anssiko commented on #276
Also the draft test suite (tracked in #266) is coming together just in time for the CR publication (thanks @louaybassbouss et al.).

[2016-06-27 12:07] anssiko commented on #99
Hearing no concerns with @mfoltzgoogle's proposal, I'll consider this issue closed.

[2016-06-27 12:07] #99 closed

[2016-06-27 12:39] anssiko commented on #153
This issue was extensively discussed at our recent [F2F][0] (see the relevant [Day 1][1] and [Day 2][2] minutes), and the outcome was an agreement to continue with rechartering the [Second Screen Community Group][3]. I gave TAG a status update too via w3ctag/spec-reviews#61.

I'll close this issue now. Any follow-ups should be discussed in the [Second Screen CG Charter issues][4].

[0]: https://ww

[2016-06-27 12:39] #153 closed

[2016-06-27 12:42] anssiko commented on #311
Fixed with #316.

[2016-06-27 12:42] #311 closed

[2016-06-28 00:14] tomoyukilabs commented on #318
@anssiko Thank you so much for instructions! I will prepare a PR.

[2016-06-28 05:54] Honry commented on #266
I would like to help review the PR, but I have no access right to merge it, still need help from someone else.

[2016-06-28 06:29] anssiko commented on #266
Thanks for your help. Let us know when you have reviewed the PR and we'll find someone to merge the PR.

[2016-06-28 06:33] Honry commented on #266
OK, I've added some comments on the [PR](https://github.com/w3c/web-platform-tests/pull/3238), @louaybassbouss please help address them.

[2016-06-29 05:41] zqzhang commented on #266
The pull request for the testing report has been merged. For the tests update pull request, please address the review comment and drop me a note. I can then help merge it.

[2016-07-01 00:41] #318 closed

[2016-07-01 12:05] anssiko commented on #276
All the CR blockers have now been addressed. Thank you for your contributions everyone, with special thanks to the editor @mfoltzgoogle who has reflected the group's consensus into the spec language.

I'm happy that (once again) we were able to sprint and get the spec ready for publication in time. We're now ready to advance with the CR publication as planned.

[2016-07-04 13:44] louaybassbouss commented on #266
The new presentation API test reports are available here:
* Controlling UA: https://w3c.github.io/test-results/presentation-api/controlling-ua/all.html
* Receiving UA: https://w3c.github.io/test-results/presentation-api/receiving-ua/all.html

Thx @zqzhang, @Honry, @yhe39, @mariuswsl and @taff-franck for writing or reviewing the tests.

PS: I will be on vacation until end of July. Please contact du

[2016-07-04 13:59] anssiko commented on #266
Thanks @louaybassbouss, @zqzhang, @Honry, @yhe39, @mariuswsl and @taff-franck!

(The test suite and implementation report are linked from the spec.)

[2016-07-09 22:59] smaug---- opened #323 ""SHOULD act as if " is unclear"
"If the the document object's active sandboxing flag set has the sandboxed presentation browsing context flag set, the controlling user agent SHOULD act as if the default request is not set for that browsing context."
In which way it should act? Does it mean it should internally not use defaultRequest for anything,
or does it also mean that defaultRequest should keep returning null or what?

[2016-07-11 13:29] mounirlamouri commented on #323
The gist is that the property should keep working (not sure if it's okay to leak the sandbox status) but the UA shouldn't use the information for things like chrome button to "present" tab.

[2016-07-12 23:12] mfoltzgoogle commented on #266
Dependent issue filed:
https://github.com/w3c/web-platform-tests/issues/3294

[2016-07-12 23:33] mfoltzgoogle opened #324 "PresentationConnectionClosedEvent should be PresentationConnectionCloseEvent"
Other APIs use the noun, not the adjective form to name events.  e.g. InstallEvent, FetchEvent not InstalledEvent, FetchedEvent.

The latter is already implemented in Chromium and IMO we should update the spec to match.

[2016-07-12 23:39] mfoltzgoogle commented on #276
@anssiko I filed an issue today (#324) that may impact this timeline.  Do you want to wait for a spec change to land for that first?

[2016-07-13 00:12] mfoltzgoogle opened #325 "PresentationConnection.url should be optional?"
The algorithm steps for creating a PresentationConnection set the `url` attribute after construction.  It seems like we should make the attribute optional (like `id`) since it is not set in the constructor.

[2016-07-13 00:15] mfoltzgoogle commented on #325
Three algorithms that create PresentationConnection objects and set attributes after construction:

-  https://w3c.github.io/presentation-api/#starting-a-presentation
- https://w3c.github.io/presentation-api/#reconnecting-to-a-presentation
- https://w3c.github.io/presentation-api/#monitoring-incoming-presentation-connections

Alternatively, we could define a constructor that takes the url and id a

[2016-07-13 05:39] tidoust commented on #276
@mfoltzgoogle The version of the spec that is to be published as CR is somewhat frozen at this stage. It was reviewed by the Director and publication as Candidate Recommendation is scheduled for tomorrow (Thursday). I would suggest that we go ahead with the CR publication as-is, and address #324 and subsequent issues in the Editor's Draft.

From a process perspective, changing the name of an inter

[2016-07-13 05:44] anssiko commented on #276
I second @tidoust.

[2016-07-13 18:32] mfoltzgoogle commented on #276
Yes, Issue #324 naming cleanup and not a semantic change.  If it shouldn't block CR then let's not derail the process underway.

[2016-07-14 15:46] anssiko commented on #276
Candidate Recommendation published:
https://www.w3.org/TR/2016/CR-presentation-api-20160714/

[2016-07-14 15:46] #276 closed

[2016-07-21 00:18] mfoltzgoogle opened #327 "Behavior of new PresentationRequest([]) should be defined"
If the array of URLs is empty, then the constructor should probably throw a NotSupportedError, as this invocation of the constructor makes no sense.

[2016-07-28 14:08] louaybassbouss commented on #266
hello all I am back from vacation before I review all the mails is there anything urgent to do first regarding testing?

[2016-08-07 23:52] domenic opened #328 "DOMString[] is not valid Web IDL"
You probably mean `sequence<DOMString>`.

[2016-08-16 02:01] schien opened #329 "specify the prohibits mixed security contexts algorithm for multiple presentation URLs"
In step 3 of the "Starting a presentation" algorithm, it only defined the behavior if one presentation URL is assigned. Below are the two possible solutions:

1. If the result of the algorithm is "Prohibits Mixed Security Contexts" and **any of the presentationUrls** is an a priori unauthenticated URL, then return a Promise rejected with a SecurityError and abort these steps

2. If the result of t

[2016-08-16 02:25] schien commented on #329
BTW, we need to sync the description of mixed security context check in section 6.4.3 "Getting the presentation displays availability information" as well.

[2016-08-18 18:41] #328 closed

[2016-08-18 18:41] #327 closed

[2016-08-18 18:41] #324 closed

[2016-08-18 18:41] #323 closed

[2016-08-18 21:33] mfoltzgoogle commented on #315
For background, there are a couple of reasonable ways a friendly display name can be passed through mDNS:

1. Via the instance name in the DNS SRV record advertised by a service instance.  The spec [1] says that this must be up to 63 Net-Unicode characters, but doesn't have any place to pass locale information that might be used to customize the display of the name.

2. Via a DNS-TXT record [2].

[2016-08-18 21:45] mfoltzgoogle commented on #329
Thanks for pointing this out @schien.

I think it might be unexpected behavior if some URLs were allowed to continue in the algorithm and others are not; the order matters.  I'm going to prepare a PR to implement your suggestion 1 and address your second comment as well.

[2016-08-18 21:57] mfoltzgoogle commented on #325
Reviewing the spec, in all cases where the user agent instantiates a PresentationConnection,  it sets both the URL and the ID before returning it to the caller.  So it makes more sense to make both  `PresentationConnection.id` and `PresentationConnection.url` mandatory.

[2016-08-19 16:51] #325 closed

[2016-08-19 16:51] #329 closed

[2016-08-23 17:39] #315 closed

[2016-08-30 02:28] schien opened #335 "define the behavior for consecutive |getAvailability|"
Three unclear behavior found while implementing the |getAvailability| algorithm:
1. In step 6, the same availability object is returned if an existed `(A, presentationUrls)` tuple is found. However, we can only return the same object if the requester is in the same DOM window.
2. in step 9, we should run the device monitoring algorithm in parallel so that we can resolve the promise as early as pos

[2016-08-30 14:05] tidoust commented on #266
To get a rough estimation of the test coverage of the spec so far, I prepared the following document, which @louaybassbouss and I will try to keep up to date as the group progresses on the test suite:
https://tidoust.github.io/presentation-api-testcoverage/

This document is meant to be a (quick-and-dirty) work document: it links sections of the spec to test files that check them, and gives an est

[2016-09-01 13:03] smaug---- opened #336 "PresentationRequest constructor uses entry settings object, but it probably shouldn't"
See https://html.spec.whatwg.org/multipage/webappapis.html#realms-settings-objects-global-objects
"The incumbent and entry concepts should not be used by new specifications, as they are excessively complicated and unintuitive to work with."

[2016-09-03 06:30] louaybassbouss commented on #266
Thx @tidoust all Presentation API related PRs on web-platform-tests are now merged. I will update the test coverage document.

[2016-09-16 21:53] mfoltzgoogle opened #337 "PresentationConnectionList is not required for receiving user agents"
The receiving user agent conformance class (section 3.1) does not require implementation of PresentationConnectionList.  It seems like a simple typo.

[2016-09-16 21:59] mfoltzgoogle opened #338 "Can the same browsing context act as a controller and receiver?"
We may have discussed this tangentially in a previous issue.  The spec is ambiguous as to whether a receiving browsing context can also be a controlling browsing context in a user agent that implements both conformance classes.  It doesn't prohibit it, but there might be some implementation challenges given the restrictions the spec places on a receiving browsing context (don't show modal UI, etc.

[2016-09-16 22:06] mfoltzgoogle opened #339 "setConnection in example 5.5 may put UI in an inconsistent state"
`setConnection()` calls `close()` on an existing connection before adding an `onconnect` handler to the new connection.  If the close event on the old connection fires after the connect event on the new connection, `reset()` will null out the new connection and disable the stop and disconnect buttons.

[2016-09-16 22:08] mfoltzgoogle opened #340 "Example 5.6 doesn't need onconnect handler"
The algorithm to monitor incoming presentation connections in a receiver will provide them to a page in a `connected` state.  Therefore the onconnect handler will never be called.

[2016-09-16 22:10] mfoltzgoogle opened #341 "navigator.presentation is marked optional in WebIDL"
In section 6.2, the presentation attribute is marked optional.  However the text says that it is mandatory for all conforming user agents to return an instance of Presentation.   I think this is just an IDL bug.

[2016-09-16 22:16] mfoltzgoogle opened #342 "Presentation display availability is not clearly defined"
The term _presentation display availablity_ is defined in the introduction to 6.4 [1] but is not clearly defined.  It's not used elsewhere in the spec it seems so it could be dropped, or a sentence could be added to Idioms to clarify it.

[1] http://w3c.github.io/presentation-api/#interface-presentationavailability

[2016-09-16 22:22] mfoltzgoogle opened #343 "Establishing a presentation connection steps do not handle failures"
The steps to establish a presentation connection don't define what happens if the attempt to connect fails.  We might want to do that so there is a way for reconnect() to return a connection that doesn't reach a connected state.

Also, the non-normative note that begins "If the connection step does not complete" could be more specific about which algorithm(s) can be retried on which connections so

[2016-09-16 22:27] mfoltzgoogle opened #344 "Spec for PresentationConnectionCloseEvent closeMessage conflicts with note"
The spec for this event states that,

But the note in 6.5.2 describes how the user agent should set the message to the beginning of the first failed message.  Perhaps we can tweak the note to include both.

[2016-09-16 22:29] mfoltzgoogle opened #345 "Introduction could use some copy editing"
The introduction could use a copy editing pass to improve phrasing and consistency.  This issue is an Editor's TODO to himself :)

[2016-09-16 22:32] mfoltzgoogle opened #346 "Clarify presentation ID generation requirements"
Step 13 in starting a presentation (generation of presentation id) recommends a specific UUID algorithm.  It would be better to clarify this as a "should" as it is a non-required part of an algorithm marked "must" instead of a generic "recommendation."

[2016-09-16 22:50] mfoltzgoogle opened #347 "Forced 1-UA mode for documents or frames"
Currently the Presentation API can only present fully fledged documents which are loaded in a separate (and isolated) browsing context.  There may be use cases where it is not possible or desirable to render the intended content in a separate UA or a separate context.

1. The controlling UA has access to resources that can't easily be accessed elsewhere (because of login, VPN, etc.)
2. The control

[2016-09-16 23:00] mfoltzgoogle opened #348 "Presentation display capability detection"
This is a placeholder for discussion of capability detection for presentation displays.  Basically, the controller may want to provide more detailed constraints on the display through the API to further filter the list of screens shown to the user.

For example:
- It makes little sense for a photo or video site to be able to present to wireless speakers, but it makes perfect sense for a music or p

[2016-09-16 23:00] mfoltzgoogle commented on #348
CC @mounirlamouri

[2016-09-19 18:34] mfoltzgoogle commented on #282
@domenic There may also be a possibility for a Stream (or MediaStream) to be piped from the controller to the presentation, or vice versa.    For example a Stream or MediaStream generating API like getUserMedia, PeerConnection, or Sensors could be used for remote control or media rendering.

Stream passing between contexts would allow the user agent to route events more efficiently than having the

[2016-09-22 13:21] mounirlamouri commented on #348
Would it make sense to have an extended constructor for `PresentationRequest` that takes a list of `constraints` that could include these information?

[2016-09-26 12:07] tidoust commented on #346
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins01)

**ACTION:** @mfoltzgoogle to check how other specs reference UUID generation and adjust the spec accordingly with SHOULD or MUST

[2016-09-26 12:08] tidoust commented on #344
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins03)

**ACTION:** @mfoltzgoogle to update close message examples to conform to spec

[2016-09-26 12:09] tidoust commented on #343
See [discussion at TPA](http://www.w3.org/2016/09/22-webscreens-minutes#ins04)

**PROPOSED RESOLUTION:** For #343, move error handling steps from the start algorithm to the establish a connection algorithm, and remove the note in 6.5.1 about retrying connection establishment.

[2016-09-26 12:10] tidoust commented on #342
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins05)

**ACTION:** @mfoltzgoogle to check that there is a proper definition of "availability".

[2016-09-26 12:10] tidoust commented on #341
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins06)

**PROPOSED RESOLUTION:** For #341, make `navigator.presentation` attribute mandatory to align with the normative prose.

[2016-09-26 12:13] tidoust commented on #339
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins08)

**ACTION:** @kenchris to review and fix the example in 5.5

[2016-09-26 12:14] tidoust commented on #337
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins09)

**PROPOSED RESOLUTION:** For #337, add PresentationConnectionList to the list of interfaces to be supported by receiving user agents.

[2016-09-26 12:14] tidoust commented on #336
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins10)

**PROPOSED RESOLUTION:** For #336, examine how other specs have been updated to use the settings object and update our spec to match.

[2016-09-26 12:15] tidoust commented on #335
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins11)

**PROPOSED RESOLUTION:** For #335, check algorithms around availability objects and make sure they all refer to "script object" or "internal object". For bullet 2, add "in parallel" in step 9. For bullet 3, make sure `getAvailability` returns the same `Promise` object.

[2016-09-26 12:16] tidoust commented on #303
See [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins12)

**PROPOSED RESOLUTION:** For #303, add a note about feature detection through the `receiver` attribute, no guideline on the UA string.

[2016-09-26 12:18] tidoust commented on #61
For reference, see [discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins61)

[2016-09-26 12:19] tidoust commented on #347
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins14)

[2016-09-26 12:20] tidoust commented on #32
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins15)

[2016-09-26 12:20] tidoust commented on #338
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins16)

[2016-09-26 12:21] tidoust commented on #67
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins17)

[2016-09-26 12:21] tidoust commented on #202
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins18)

[2016-09-26 12:22] tidoust commented on #348
For reference, see [related discussion at TPAC](http://www.w3.org/2016/09/22-webscreens-minutes#ins19)

[2016-09-27 03:12] domenic commented on #336
You want current settings object here. Quoting from the link in the OP,

[2016-09-29 21:58] mfoltzgoogle commented on #336
OK.  What is the relationship between the _current settings object_ and the _environment settings object_ for a given function invocation in a document?  The settings object properties needed to implement  the algorithms (API base URL and https state) are defined on the latter, not the former.

[2016-09-29 22:00] domenic commented on #336
"the environment settings object for a given function invocation in a document?"

This concept does not exist.

[2016-09-30 10:08] kenchris commented on #339
https://github.com/w3c/presentation-api/pull/358

[2016-09-30 21:07] mfoltzgoogle commented on #335
Section 6.4 will need a bit of cleanup to make it consistent with reasonable behavior.  Here is what I am thinking.
- Annotate `getAvailability()` with `SameObject`.
- Define a *presentation availability* internal object for use in the algorithms.  There is exactly one of these for a given list of URLs regardless of the script context.
- Define a *presentation availability promise* which is create

[2016-10-10 15:52] #344 closed

[2016-10-10 15:52] #303 closed

[2016-10-10 15:54] #337 closed

[2016-10-10 15:55] #340 closed

[2016-10-10 15:55] #341 closed

[2016-10-10 15:55] #346 closed

[2016-10-10 15:56] #343 closed

[2016-10-10 15:57] #336 closed

[2016-10-10 17:02] #342 closed

[2016-10-14 14:41] tidoust opened #359 ""setting presentation.defaultRequest will have no effect" note is ambiguous"
See related discussion between @schien and @tomoyukilabs on Web Platform Tests repository: https://github.com/w3c/web-platform-tests/issues/3844

In particular, @schien notes that:

To which @tomoyukilabs replies:

I would read the spec as @tomoyukilabs. Regardless of who is correct, it seems a good idea to clarify the expected behavior!

[2016-10-14 18:43] mfoltzgoogle commented on #359
The intent is that the attribute setting algorithm [1] completes, but there is no attribute-specific behavior for `defaultRequest` in the controlling user agent (step 9).

Since the spec does not override the attribute setting algorithm, the meaning seems clear enough to me, but the text could be explicit that the attribute is set.

[1] https://www.w3.org/TR/WebIDL/#dfn-attribute-setter

[2016-10-17 22:06] mfoltzgoogle commented on #359
There's another issue with starting a default presentation.   The spec says that the controlling user agent should run the steps to start a presentation (starting at step 2).  However, it's not clear that the user agent should construct a Promise as part of those steps (as there's nowhere to return it.)  Maybe we can adjust the language or construct a new algorithm that omits the Promise related s

[2016-10-17 22:14] mfoltzgoogle opened #360 "Clarify event order when establishing a presentation connection"
In steps 19 - 23 of start a presentation [1] he intention of the spec (I believe) is that the following will happen in order:
1. P is resolved and the resolver function runs to completion.
2. The `connectionavailable` handler is invoked and runs to completion.
3. As part of the steps to establish a presentation connection [2], the `connect` handler is invoked or the `error` handler is invoked (and

[2016-10-21 09:14] annevk opened #361 "Use USVString for URLs"
The URL parser cannot handle lone surrogates.

[2016-10-21 23:01] mfoltzgoogle opened #362 "Consider checking for security context in the PresentationRequest constructor"
@mounirlamouri  brought up the following:

Currently, we check for mixed content in the steps to execute `start()`, `reconnect()` and `getAvailability()`.  It would simplify both the spec and the implementation to move this check to the PresentationRequest constructor.

I am not sure if it is okay to throw exceptions in conctructors of Web APIs.  If there are precedents, I'd like to know.

Also, w

[2016-10-25 10:24] mounirlamouri commented on #362
There are precedent to throw in constructors. For example, the Fetch API does this for most of its defined constructor, for example [`Request`](https://fetch.spec.whatwg.org/#dom-request).

CC @annevk how does it sound?

[2016-10-25 11:04] annevk commented on #362
Seems fine. (I don't really understand how this specification works by the way. https://w3c.github.io/presentation-api/#getting-the-presentation-displays-availability-information says that there's some kind of input, whereas the method takes no arguments per IDL.)

Also, should this entire API be using `[SecureContext]`?

[2016-10-25 16:16] mfoltzgoogle opened #363 "Clarify arguments to getting presentation displays availability information"
Forked from #362.  It's not clear where the presentationUrls argument comes from when reading the steps in isolation.  Clarify the source of the input.

[2016-10-25 16:17] mfoltzgoogle commented on #362
Okay, let's move the security context check to the constructor.

The URL arguments come from the `PresentationRequest` that is the target of getAvailability().  Filed #363 to improve the description.

Can you provide a link to define `[SecureContext]`?

[2016-10-25 16:34] annevk commented on #362
Target? It's defined on that object, no?

SecureContext is defined in IDL.

[2016-10-26 02:24] schien commented on #362
@mfoltzgoogle Is this link you want? https://heycam.github.io/webidl/#SecureContext

[2016-11-01 13:39] smaug---- opened #364 "It is unclear what "If there is already an unsettled Promise from a previous call to start for the same controlling browsing context" means""
"If there is already an unsettled Promise from a previous call to start for the same controlling browsing context, return a Promise rejected with an OperationError exception and abort all remaining steps. "

Does that mean any PresentationRequest.start() call, or just if the same start() has been called before and promise is unsettled?

[2016-11-03 19:45] mfoltzgoogle commented on #266
Dependent issue filed: https://github.com/w3c/web-platform-tests/issues/4168

[2016-11-05 12:05] louaybassbouss commented on #359
I am now thinking about the current behaviour of defaultRequest. In current spec the controlling page get notified (using `onconnectionavailable`) only if the user selects a display in the dialog. Do we need to inform the page that the selection dialog is open? in this case we need to change the spec as following:

[code]

in this case we don't need to constrict a new algorithm for default request

[2016-11-08 18:42] mfoltzgoogle commented on #359
The current spec doesn't assume there's a dialog (permission can be granted other ways) so we'd have to craft an algorithm that fires a dummy event in those cases to deliver a Promise that resolves immediately.  In my opinion it adds extra complexity to the API, which can be avoided by adjusting other parts of the spec.

I think a simpler fix is to just break the start a presentation algorithm int

[2016-11-09 14:10] annevk opened #365 "[SameObject] for receiver seems wrong"
How can receiver always return the same object? What happens when the browsing context goes away?

[2016-11-12 00:34] mfoltzgoogle opened #366 "Steps to reconnect to a presentation assume there's already a PresentationConnection"
The steps to reconnect to a presentation (6.3.3., step 8) talk about using an existing `PresentationConnection` object to construct a new `PresentationConnection`.  But if the page already has one it's not clear why we would need to construct a new one.  It would be clearer to refer instead to the set of controlled presentations when constructing a new `PresentationConnection`.

[2016-11-14 16:09] tidoust commented on #365
@annevk could you clarify what seems wrong?

The `presentation.receiver` attribute is set by the receiving user agent (the user agent that runs on the "second screen") to an instance of the `PresentationReceiver` interface when the receiving browsing context is created. That attribute does not exist in the controlling browsing context in particular.

Its value will never change while the receiving

[2016-11-14 16:10] annevk commented on #365
It does. I can hold a reference to those objects while the browsing context could still go away.

[2016-11-14 16:32] tidoust commented on #365
Ah. How? What's the concrete set of steps that creates this possibility?

[2016-11-15 08:59] annevk commented on #365
@tidoust e.g., remove an `<iframe>`.

[2016-11-15 10:33] tidoust commented on #365
@annevk So, I see something wrong but I'm not sure that's the problem you're raising here ;)

The spec may not be clear about nested contexts on the receiving side but `navigator.presentation.receiver` will only be set in the top-level browsing context. It will always be `null` in nested contexts. But I suppose your comment equally applies to `window.open`. If the receiving browsing context calls

[2016-11-15 10:38] annevk commented on #365
I think currently you can't even use [SameObject] for a nullable type, so that might be another problem.

I'm not suggesting it does I think. You might have bigger problems, for sure.

[2016-11-15 11:17] tidoust commented on #365
OK, got it. The WebIDL spec says "The [SameObject] extended attribute must not be used on anything other than a read only attribute whose type is an interface type or object" and a "nullable type" is indeed something different:
https://heycam.github.io/webidl/#SameObject

[2016-11-15 13:49] tidoust commented on #360
Sorry I missed that issue somehow, @mfoltzgoogle.

I think it is a good idea to be explicit about the task source used. I would suggest the "networking task source" [1] (used by browser navigation WebRTC, WebSockets), unless there is a good reason to create a specific task source or to use more than one?

Wording could be: "The task source for the tasks mentioned in this specification is the netwo

[2016-11-16 10:21] tidoust commented on #365
One thing that I missed in a previous comment (https://github.com/w3c/presentation-api/issues/365#issuecomment-260606105) is that the receiving browsing context cannot create new auxiliary browsing contexts in practice, because the "sandboxed auxiliary navigation browsing context flag" is set. It may only create nested browsing contexts and I still don't see how the reference issue can occur with

[2016-11-16 10:24] tidoust opened #367 "Well defined environment for nested contexts of the receiving browsing context?"
The Presentation API imposes a well-defined environment for the [receiving browsing context](https://w3c.github.io/presentation-api/#creating-a-receiving-browsing-context) when it is created, but it does not say anything about nested browsing contexts that this browsing context could create (e.g. with an `<iframe>`).

I'm not clear how the restrictions on cookies, Application cache, Permissions, I

[2016-11-16 22:56] mfoltzgoogle commented on #339
Closing with the fixes in the PR.

[2016-11-16 22:56] #339 closed

[2016-11-21 22:33] mfoltzgoogle commented on #364
The intention was to allow the user agent to use modal UI for display selection.  In that scenario, it would be complicated to support simultaneous requests, or confusing to service one request immediately after the other.

I'll craft a PR along the lines of,

Alternatively, we could convert this step to an implementation note that browser is allowed to use modal UI for display selection and allow

[2016-11-21 23:03] mfoltzgoogle opened #374 "Determine if we need to fire a terminated event in the receiving browsing context(s)"
Currently, the steps for terminating a presentation don't fire a `terminated` event on connections held by the receiver.  If the process of closing the receiving browsing context could allow script to run, then we should consider firing this event (on the top-level or nested browsing contexts).  Doing so may be redundant with the 'beforeunload' event however.

Reference material:
- [Closing a brow

[2016-11-21 23:04] mfoltzgoogle commented on #365
Agreed that `[SameObject]` should be removed from `navigator.presentation.receiver`.

Agreed that the spec is not clear enough on the behavior of PresentationReceiver in nested browsing contexts.  That should be raised separately; I see @tidoust filed #367 so let's discuss there.

Per https://github.com/w3c/presentation-api/issues/365#issuecomment-260606105, if there's an opportunity for script to

[2016-11-21 23:29] mfoltzgoogle commented on #367
The behavior of `navigator.presentation.receiver` is also not clear, since the steps to monitor incoming presentation connections don't state explicitly which receiving browsing contexts they run in.

[2016-11-21 23:34] mfoltzgoogle commented on #363
Note: I'm going to work on this after other PRs land that touch the same parts of the spec.

[2016-11-21 23:39] mfoltzgoogle commented on #362
Note: I'm going to work on this after other PRs land that touch the same parts of the spec.

Re: `[SecureContext]` After security, privacy, TAG review #45 it was concluded to not restrict API to secure contexts.

[2016-11-22 00:55] mfoltzgoogle commented on #366
On closer reading it's not a problem with the steps, it's just hard to keep track of the different objects.  Tried to improve this with the PR.

[2016-11-22 08:03] annevk commented on #362
Can you point to the conclusion? I thought we wanted to move most new APIs to require them.

[2016-11-22 08:52] tidoust commented on #360
Upon further thought, I note that I'm not clear whether it is a good practice to reuse the "networking task source" or to create a new one. Do you know?

Creating a new task source would give implementers more flexibility on how they assign priorities to the tasks the spec creates compared to tasks created by other specs, and would still give us what we need, meaning proper relative ordering of th

[2016-11-22 17:56] mfoltzgoogle commented on #362
Who is "we"?  One part of the relevant discussion is here.  This was also discussed with WebAppSec and PING, perhaps @tidoust can help dig up the relevant links.

https://www.w3.org/2015/10/29-webscreens-minutes.html#item06

[2016-11-22 18:01] mfoltzgoogle commented on #360
As an implementer, the concept of a "task source" is an abstraction used to determine the order of callbacks in a fundamentally single-threaded renderer.  Everything used to implement the API is going to run in a different process on various threads, and it's not clear how I would map a "task source" onto that execution model.

So I vote for whatever makes the spec clearest in terms of the behavio

[2016-11-22 18:09] #366 closed

[2016-11-23 08:59] annevk commented on #362
Mozilla at least. I also heard similar signals from @mikewest though Google overall might not be convinced yet.

But since you're going through a permission dialog it seems actually very important to require a secure context. Otherwise the user cannot be sure about who they are granting the permission to.

[2016-11-23 09:00] annevk commented on #362
I thought that definitely for things that involve user-facing dialogs there was consensus to require a secure context. @hillbrad?

[2016-11-23 09:33] mikewest commented on #362
@mikewest would indeed prefer that every new API require a secure context. As @annevk notes, especially when we're gating this on a permission, then it needs to require a secure context in order for that permission to have any meaning. As @annevk also notes, not everyone on Chrome's security team agrees with me yet. :)

Can you point to the discussion? I see some assertions in https://www.w3.org/2

[2016-11-23 10:06] tidoust commented on #362
I'm not sure there are more discussions to point at regarding conclusions.

The minutes only summarize the joint Second Screen WG / @mikewest TPAC lunch, which was not minuted in itself. My recollection from the lunch is that it was deemed acceptable at the time not to require secure contexts for the Presentation API, and actually especially given the presence of a user prompt.

The point was also

[2016-11-23 22:26] #361 closed

[2016-11-23 23:51] mfoltzgoogle commented on #359
PR #369 updates the specs along the lines of my previous comment.

@louaybassbouss Would you like to continue discussion of a new event for display selection?  I can file a separate issue for that.

[2016-11-28 18:11] #365 closed

[2016-11-28 18:13] #335 closed

[2016-11-28 18:16] mfoltzgoogle commented on #360
I went ahead and merged the PR.  Among the task sources listed in HTML 5.2 the networking task source seems most appropriate (even if the the specific task is perhaps not necessarily network related).

If you have any further insight, then I can address it in a followup PR.  Otherwise should we close this?

[2016-11-28 18:17] mfoltzgoogle commented on #364
@smaug--- if you have further feedback feel free to append it to this issue.  Otherwise I'll assume the PR addressed it.

[2016-11-28 18:17] #364 closed

[2016-11-28 18:18] mfoltzgoogle commented on #359
Assuming the PR addressed the original issue, closing this.

[2016-11-28 18:18] #359 closed

[2016-11-28 19:18] mfoltzgoogle commented on #362
The permission to use a presentation display is intended to be ephemeral and only for the duration of the presentation, like following a link.  If something is presented that the user doesn't want they can close the presentation (or the tab that started it) and nothing has changed.  Also note the features that cause a user dialog to appear are gated by a user gesture requirement.

The group (led b

[2016-11-29 08:14] annevk commented on #362
I think what was not considered is that dialogs shown to the user should only be done through HTTPS since otherwise the authenticity of the dialog cannot be determined by the user.

[2016-11-29 08:27] tidoust commented on #360
About re-using the networking task source or not, internal discussions suggest the answer is "it depends". I raised an issue against the TAG's Design Principles spec last week:
https://github.com/w3ctag/design-principles/issues/38

Initial feedback from @annevk suggests using a dedicated task source. That matches my understanding. I don't think the task source used by the Presentation API is going

[2016-11-29 08:54] annevk commented on #360
This is wrong. The threads are the "in parallel" steps (I think we should flush those out in more detail, but we don't really have the infrastructure defined for that yet). The event loop and its tasks are where JavaScript runs (e.g. a document or worker) and do in fact match what implementations are supposed to do there. So if that language does not match up somehow, there is a problem.

[2016-11-29 18:00] mfoltzgoogle opened #379 "Investigate if sandboxing flag check can move to the PresentationRequest ctor"
Follow-up from Issue #362.  It may be possible to check the sandboxing flag in the ctor for PresentationRequest, and this would simplify the algorithms that check it on function invocation.

However, if the attribute is dynamic or set on navigation, it may not be possible.

@mounirlamouri can you update this with what you discover in Blink?

[2016-11-29 18:29] #363 closed

[2016-11-29 18:31] mfoltzgoogle opened #380 "Authenticity of screen selection permission is problematic in insecure contexts"
In Issue #362, @annevk raised the issue that the "authenticity" of the permission granting step for screen selection is problematic in insecure contexts.

@annevk can you provide any examples where this issue is addressed concretely in other specs/APIs?

[2016-11-29 18:32] mfoltzgoogle commented on #362
Filed #380 to address the concern of @annevk.  Closing this with PR #377.

[2016-11-29 18:32] #362 closed

[2016-11-29 19:17] mfoltzgoogle commented on #374
### Research notes

Using WhatWG [1] as a reference, there are three possible events that may fire during step 2 of presentation termination (unloading the presentation document).

- `onbeforeunload`
- `onpagehide`
- `onunload`

Comparing other device specs:

- As part of the "unload a document cleanup steps," the browser also "makes disappear" any open WebSocket objects [2], which closes the netw

[2016-11-29 19:30] mfoltzgoogle commented on #374
Noting that other specs are not very consistent in whether they event when closing resources on unload, and that firing a `terminate` event would be redundant with `beforeunload` for doing per-document cleanup, I'm inclined to *not* add a step to fire a `terminate` event on receiving presentation connections.

However, I do think we should set the presentation connection states to `terminated` bef

[2016-11-30 00:46] mfoltzgoogle commented on #367
CC @zhaobin2016

After internal discussion, we propose that `navigator.presentation.receiver` is only non-null in the top level receiving browsing context (not nested contexts).

Also the same restrictions on the top-level receiving browsing context should apply to nested contexts.

[2016-11-30 08:40] annevk commented on #380
Well, for instance, Chrome started to require a secure context for geolocation.

[2016-11-30 08:42] annevk commented on #380
The overall problem is that users shouldn't have to pay attention to the lock icon when responding to dialogs. If they sometimes don't and sometimes do, you're just making things worse.

[2016-11-30 13:32] mounirlamouri commented on #379
Looking at Blink code, it seems to be dynamic. My understanding of the spec is that it's not.

@annevk do I misinterpret the spec?

[2016-11-30 14:30] annevk commented on #379
I don't really understand the sandboxing setup. Too much forwarding of state.

[2016-11-30 20:01] mfoltzgoogle commented on #360
@tidoust Do you agree with the conclusion in w3ctag/design-principles#38 to create a dedicated task source?  I'm happy to craft a pull request.

[2016-11-30 20:18] mfoltzgoogle commented on #380
Regarding geolocation, the motivation posted to blink-dev was that geolocation returned privacy sensitive information, and should not be exposed to a MITM, which I totally agree with.  We don't believe the Presentation API returns the same kind of privacy sensitive information.

The Secure Contexts TR [1] was also referenced to deprecate insecure use of "Powerful Features."  However "Powerful Feat

[2016-12-01 08:30] tidoust commented on #360
@mfoltzgoogle Yes, I think creating a dedicated task source is the way to go.

[2016-12-01 15:49] tidoust opened #381 "Step 11 of getAvailability should not run "in parallel""
I failed to notice that when I reviewed the update, but I think "in parallel" is wrong in step 11 of the [`getAvailability` algorithm](http://w3c.github.io/presentation-api/#getting-the-presentation-displays-availability-information) which instructs the user agent to "Run the algorithm to monitor the list of available presentation displays in parallel".

In practice, if the algorithm is run in par

[2016-12-01 16:21] tidoust opened #382 "Wrong use of "available presentation displays" in 6.4.4"
Something else I failed to notice: step 2 of the algorithm to [monitor the list of available presentation displays](http://w3c.github.io/presentation-api/#dfn-monitor-the-list-of-available-presentation-displays) instructs the user agent to "retrieve **available presentation displays**" with a link back to the definition of [available presentation display](http://w3c.github.io/presentation-api/#dfn

[2016-12-01 16:27] tidoust opened #383 "Drop step 6 of getAvailability for consistency with start?"
That did not strike me as odd before, but why we do we need to call out the unability to "monitor the list of available presentation displays for the entire duration of the controlling browsing context" in step 6. of the [`getAvailability` algorithm](http://w3c.github.io/presentation-api/#getting-the-presentation-displays-availability-information)?

This concept does not exist in the `start` algor

[2016-12-01 17:21] mfoltzgoogle commented on #383
On removing step 6:  That seems fine, but the step is not useless. I would want to adjust the language in the "monitor" steps to set the list of displays to empty and abort if monitoring is disabled, effectively moving the step to a different list of steps.  That seems like an editorial improvement.

On disabling monitoring: From a user experience point of view, agreed it would be better to run th

[2016-12-01 17:24] mfoltzgoogle commented on #382
Agreed.

[2016-12-01 17:28] mfoltzgoogle commented on #381
Agreed.

[2016-12-01 18:18] mfoltzgoogle commented on #381
Note that it looks like "in parallel" was added for Issue #335 filed by @schien, to resolve the Promise early.

The issue seems to be:
- If monitoring has not run before for the URLs in the request, we should wait until it completes to return a value.
- If monitoring has run before then we can resolve immediately with a known value, and run it again to refresh the value.

Practically speaking, I e

[2016-12-01 19:09] mfoltzgoogle commented on #379
Well, it would be safest to check it in both the `PresentationRequest` ctor and its functions.

[2016-12-01 20:17] tidoust commented on #381
"In parallel" gives the exact opposite result: it makes the monitoring run in the background and thus the promise gets resolved immediately (before monitoring is complete). Actually, we would not even need a Promise given that all other steps can run synchronously.

A second call to `getAvailability` will always return the presentation availability promise set during the first call immediately (st

[2016-12-01 20:53] tidoust opened #387 "Filling out the list of available presentation displays for start"
Step 7. of the [select a presentation display algorithm](http://w3c.github.io/presentation-api/#dfn-select-a-presentation-display) tells the user agent to [monitor the list of available presentation displays](http://w3c.github.io/presentation-api/#dfn-monitor-the-list-of-available-presentation-displays). This is meant to fill out the [list of available presentation displays](http://w3c.github.io/p

[2016-12-01 20:59] tidoust commented on #387
Hmm, a better fix might be to complete the monitoring algorithm with a step such as:

If there is a pending request to select a presentation display, run the following step:
  1. For each display in newDisplays, if display is an available presentation display for one of the presentation urls then run the following steps:
     - let presentationUrl be that presentation url
     - Insert a tuple (pr

[2016-12-01 21:14] tidoust opened #388 "Check on Presentation display availability in getAvailability can never be true"
One last one :) My apologies for not seeing that before as well!

[`getAvailability`](http://w3c.github.io/presentation-api/#getting-the-presentation-displays-availability-information) is the only algorithm that sets the [presentation display availability](http://w3c.github.io/presentation-api/#dfn-presentation-display-availability). That algorithm also creates (and never resets) the [presentation

[2016-12-01 21:49] #383 closed

[2016-12-01 21:49] #382 closed

[2016-12-01 21:49] #374 closed

[2016-12-01 21:50] #379 closed

[2016-12-03 00:51] mfoltzgoogle commented on #381
Correct, but we'll still need a Promise to be able to notify the caller when availability information is known.

Correct, the set of non-empty Availability objects is what requires the user agent to monitor continuously, not additional invocations of getAvailability().  The existing Promise would be settled with the previous result.  So we don't need to worry about the re-invocation case.

I agree

[2016-12-03 00:57] mfoltzgoogle commented on #387
We could just have a step in start() before 7 that creates an availability object for the request, and a cleanup step to remove the object.  Then monitoring would run and insert any available displays into the list for the request URLs.

[2016-12-03 01:04] mfoltzgoogle commented on #388
Sorry, I don't follow.   The availability will be set to true if there is a display in the _list of available presentation displays_ that is compatible, found earlier by the monitoring steps.

[2016-12-05 11:36] tidoust commented on #388
Well, the step 7 I was looking at is now step 6: "If the presentation display availability for presentationRequest is not null, then: [...]".

The problem boils down to whether the user agent can reset the _presentation availability promise_ at some point in time, as I alluded to in a comment on PR #390: https://github.com/w3c/presentation-api/pull/390#issuecomment-264830700

If it cannot (which i

[2016-12-05 19:33] #360 closed

[2016-12-05 19:52] mfoltzgoogle commented on #388
Okay, I am starting to understand what you are getting at.  Thanks for your patience.

The question is whether the availability promise/object is tied to the lifetime of the request that created them, which means they are created once and only once.  Or, if they can be GCed independently from the request and recreated later.

I believe the intention is that the developer can use the lifetime of th

[2016-12-06 10:46] tidoust commented on #388
No problem, I can tell my comments are getting more and more convoluted :)

OK, this issue becomes moot in that case.
See proposal in https://github.com/w3c/presentation-api/pull/390#issuecomment-265115507 to clarify GC expectations.

[2016-12-06 21:28] mfoltzgoogle opened #391 "Steps that re-use objects should specify the relevant settings object/Javascript Realm"
There are three algorithms that re-use objects:

- `getAvailability` re-uses a `Promise` and a `PresentationAvailability`
- `reconnect` re-uses a `PresentationConnection`
- `navigator.presentation.receiver.connectionList` re-uses a `Promise` and `PresentationConnectionList`

These steps need to specify the relevant settings object / Realm, instead of the current settings object/realm.  Otherwise,

[2016-12-07 01:53] annevk commented on #380
The end goal is to get rid of insecure contexts, so yes.

[2016-12-19 14:05] tidoust opened #394 "Make select algo reject in ancestor and descendant browsing contexts"
The [select a presentation display](https://w3c.github.io/presentation-api/#selecting-a-presentation-display) algorithm rejects the Promise "if there is already an unsettled Promise from a previous call to start on any PresentationRequest in the same controlling browsing context".

This is done to allow only one user prompt to select a presentation display at a time for a given tab. However, since

[2016-12-19 20:05] mfoltzgoogle commented on #394
CC @imcheng

First, after talking over the possibilities internally, we couldn't come up with a compelling use case for the ability to start multiple presentations across multiple related frames from the same user gesture.  When we discussed multiple display support F2F, we concluded that this use case is better served by having two distinct invocations of `start()` behind different event handlers

[2016-12-19 20:19] mfoltzgoogle commented on #380
Chrome's guidelines on origin display are documented here [1].

In the origin display section of the spec [2], we can make it stronger to show that insecure origins are indeed insecure.

[1] https://www.chromium.org/Home/chromium-security/enamel#TOC-Presenting-Origins
[2] https://w3c.github.io/presentation-api/#user-interface-guidelines

[2016-12-19 23:38] mfoltzgoogle opened #396 "Migrate HTML 5.0 references to HTML 5.1?"
The spec currently has a mix of references to HTML 5.0 and HTML 5.1.  Now that HTML 5.1 is Technical Recommendation, it might be clearer to convert all term definitions to references to HTML 5.1, assuming there are no significant behavioral differences implied.

[2016-12-20 22:36] mfoltzgoogle commented on #367
This was addressed by PR #395 (which erroneously referred to a different issue).

[2016-12-20 22:36] #367 closed

[2016-12-20 22:42] mfoltzgoogle commented on #266
@louaybassbouss @tidoust

Re https://github.com/w3c/presentation-api/issues/266#issuecomment-243449748:

Just checking in on the test plan and coverage status.   Is the coverage document [1] up do date or has work progressed since 11/21?

[1] https://tidoust.github.io/presentation-api-testcoverage/

For Chrome, are you blocked on a functional presentation.receiver API?

[2016-12-21 11:42] tidoust opened #397 "Make sure all IDL members have "dfn" in prose"
ReSpec shipped a new feature yesterday that warns about missing definitions in prose for IDL members.

ReSpec now reports 25 warnings on the Presentation API, some of them we should fix (e.g. `binaryType`, `connection` properties). Now, ReSpec also complains about the interface names themselves, where it makes sense to me to have the IDL **be** the definition, as done in the Presentation API. I fi

[2016-12-21 12:30] tidoust commented on #266
Reporting on what I'm aware of...

I think the coverage document is up-to-date, and we are late on enacting the test plan that it contains. Not "very very" late, but late nevertheless.

@tomoyukilabs has prepared more complete `getAvailability` tests end of November:
https://github.com/w3c/web-platform-tests/pull/4257

Reviewing these tests triggered the issues I raised against the Presentation AP

[2016-12-21 14:10] tidoust opened #398 "Sandboxing steps in start, reconnect, getAvailability are now useless"
Now that the `PresentationRequest` constructing steps also check sandboxing flags, I do not see any way to get into a situation where these flags need to be checked again in `start`, `reconnect`, or `getAvailability`.

When we discussed that, I thought sandboxing flag attributes could be changed on-the-fly. I was wrong, there is a warning in HTML5 which says: "These flags only take effect when the

[2016-12-21 19:40] mfoltzgoogle commented on #388
I believe this should be addressed by PR #387.

[2016-12-21 19:40] #388 closed

[2016-12-21 19:40] mfoltzgoogle commented on #387
Should be addressed by PR #387.

[2016-12-21 19:40] #387 closed

[2016-12-21 19:40] mfoltzgoogle commented on #381
Should be addressed by PR #387.

[2016-12-21 19:40] #381 closed

[2016-12-22 18:38] mfoltzgoogle commented on #398
Addressed by PR #399.

[2016-12-22 18:38] #398 closed

[2016-12-22 18:38] #391 closed

[2016-12-26 20:18] #394 closed

[2016-12-27 16:39] annevk commented on #380
That doesn't really address my concern.

[2017-01-09 21:29] mfoltzgoogle commented on #397
I believe this should be addressed by PR #403.

[2017-01-09 21:29] #397 closed

[2017-01-11 23:01] mfoltzgoogle commented on #396
Closed by the two PRs.

[2017-01-11 23:01] #396 closed

[2017-01-12 16:35] tidoust commented on #295
I believe the Presentation API now references stable published specifications whenever possible.

One remaining open question: can the Presentation API simply reference the latest version of WebIDL, even though it is not in a stable state, or should the Presentation API spec continue to reference both WebIDL Level 1 and WebIDL Level 2 to point out all WebIDL terms used in the spec are defined in L

[2017-01-17 09:05] anssiko opened #406 "[meta] Publish a revised Candidate Recommendation"
[All - please let us know if you have any comments or concerns with this publication plan. Silence is considered consent.]

There has been [substantive changes][1] to the Presentation API since the latest [Candidate Recommendation 14 July 2016][2] thanks to extensive implementation feedback and findings from the conformance testing of the API. See also the [visual HTML diff][3] between the CR and

[2017-01-17 09:23] tidoust commented on #406
Note pending PR #405 is meant to address this need.

While we've fixed a number of algorithms, we have not introduced any notable change of API or API behavior that would warrant new horizontal reviews. We may want to confirm with WebAppSec that our treatment for #380 is still ok, though.

[2017-01-17 10:03] anssiko commented on #406
This looks like a very complete list to me, thanks! @mfoltzgoogle to merge after another review.

That was my assessment as well, good to see you think the same.

@tidoust you reached out to the WebAppSec group [earlier][1], so could you confirm with them that the specific issue #380 is satisfactorily addressed with #401, and any concrete improvements to bake in before publishing.

[1]: https://li

[2017-01-20 20:01] bzbarsky opened #407 "PresentationReceiver.connectionList can't be [SameObject] anymore"
See https://www.w3.org/Bugs/Public/show_bug.cgi?id=25048#c10 and https://github.com/heycam/webidl/commit/4c9c298

[2017-01-23 11:13] anssiko commented on #406
I think we want to address #407 before publishing to be conformant with the latest WebIDL.

[2017-01-23 21:27] mfoltzgoogle commented on #295
Can this be closed now @tidoust?  All of the sub-tasks have been addressed.

[2017-01-23 21:30] mfoltzgoogle commented on #407
We've cherrypicked a couple of definitions out of the WEBIDL-2 editor's draft but not sure if that commits our entire spec to align with it.  @tidoust what do you think?

[2017-01-23 22:05] bzbarsky commented on #407
webidl-2 is what all specs should be aligning with.  "webidl-1" is known-broken in various ways and isn't meant to be used as a reference by anyone, or so I was told by the people who published it.

[2017-01-23 22:10] mfoltzgoogle commented on #407
Well, hopefully webidl-2 is an improvement on webidl-1 (otherwise why are people working on it).

My concern is about relative spec maturity and if we end up with a Presentation API that won't align with whatever webidl-2 becomes.

[2017-01-23 22:13] bzbarsky commented on #407
webidl-1 has no spec maturity (e.g. it has tons of unresolved issues that are never planned to be resolved), so...

In general, if issues come up with Presentation API due to IDL changes, we'll need errata to Presentation API.  That's just how things work...

[2017-01-23 22:30] mfoltzgoogle commented on #407
Fine by me then to fix this as suggested, sounds like webidl-2 is better in the long run.

[2017-01-24 11:55] anssiko commented on #407
We did publish our most recent CR that references https://heycam.github.io/webidl/ so this won't be an issue for the upcoming CR refresh tracked in #406.

@tidoust I'd like to be proactive, so could you help clear the road ahead to PR and REC with respect to referencing the latest WebIDL spec, so that this does not introduce a blocker when we get there?

[2017-01-25 09:46] anssiko commented on #380
[Piggy-packing on this existing issue that provides the most recent context.]

In preparation for the Presentation API CR refresh #406, we explicitly asked the WebAppSec WG folks for feedback whether they see it as an issue that the Presentation API is not gated behind [SecureContext], see https://lists.w3.org/Archives/Public/public-webappsec/2017Jan/0031.html. In that thread (still developing) th

[2017-01-25 09:48] anssiko commented on #406
See https://github.com/w3c/presentation-api/issues/380#issuecomment-275063423 for my summary of the WebAppSec WG's position on [SecureContext] and suggested next steps.

[2017-01-25 09:58] tidoust opened #408 "Reference to WebIDL"
This issue is a follow-up to issues #295 (Check references category and stability) and #407 (drop [SameObject] for promise attribute).

Per process, normative references in the Presentation API should switch to stable specifications en route to Proposed Recommendation. At the time of writing, WebIDL Level 1 is a Recommendation, WebIDL Level 2 is an Editor's Draft. Reference should in theory be to

[2017-01-25 09:59] tidoust commented on #295
Closing this issue since all updates were made to the spec, see follow-up issue #408 on reference to WebIDL.

[2017-01-25 09:59] #295 closed

[2017-01-28 01:07] mfoltzgoogle commented on #380
I'm fine reopening the issue but some things should be clarified before we can have an intelligent discussion.

- Is there a WebAppSec consensus position, what is it, where was it discussed?
- Are there specific risks identified by WebAppSec from insecure contexts?

[2017-01-28 01:13] mfoltzgoogle commented on #380
One issue identified thus far was that displaying insecure origins as part of a permission prompt devalues prompts overall (for higher stakes questions like geolocation, payments, etc.) as users should assume that all prompts are from secure contexts and could ignore any indications otherwise.

This aligns with research done by the Chromium Enamel team [1] and is what I think @annevk was getting a

[2017-01-30 17:55] anssiko commented on #380
@mfoltzgoogle could you make the Chromium Enamel research [[1]] you refer to world-readable? (Currently: "you need permission")

There's a lot of interesting material in the [Enamel team's public folder][2], but not immediately obvious what might be the most relevant to this discussion.

[1]: https://drive.google.com/file/d/0BxdLBiVAM05cRVhOMi1FMmlnenM/
[2]: https://drive.google.com/drive/u/0/fold

[2017-01-30 18:44] mfoltzgoogle commented on #380
Here's a link to the USENIX proceedings where it was published.

https://www.usenix.org/sites/default/files/soups2016_full_proceedings_interior.pdf#page=7

[2017-01-30 19:11] anssiko commented on #380
Thanks! Based on a quick scan of abstracts I see the following relevant papers:
* _Rethinking Connection Security Indicators_ (pp. 1-14)
  * "We surveyed 1,329 people about Google Chrome’s security indicators using a custom Chrome extension."
* _A Week to Remember: The Impact of Browser Warning Storage Policies_ (pp. 15-26)
  * "How long should a browser store a user’s decision to override an HTTP

[2017-01-30 19:15] mfoltzgoogle commented on #380
There are two other specific issues with allowing the presentation to be fetched from an insecure context.

1. The specific type of phishing attack mentioned in the spec [1] becomes possible for any attacker who can manipulate the resources fetched by the presentation page.

2. The user should expect that the presentation screen doesn't retain browsing state after the presentation is terminated.

[2017-01-30 19:18] anssiko commented on #380
Regarding WebAppSec consensus position, @tidoust's mail to public-webappsec was not a formal Call for Consensus, but rather a check that that group is still fine with our approach. So the process is the usual: any input we receive from WebAppSec friends we should evaluate in this group along with any other new information that is brought to our attention, and take all that into consideration in re

[2017-01-31 19:13] mfoltzgoogle commented on #380
Okay, the WebAppSec discussion thus far has been incorporated into this issue.  If there's any additional feedback we'll add it here.

I read _Rethinking Connection Security Indicators_, and the basic conclusion is that it is hard to design effective security indicators and we should avoid adding new ones to the browser chrome if possible.

[2017-02-09 18:37] anssiko commented on #380
I observe no further comments in the related public-webappsec thread or in this issue.

@mfoltzgoogle you identified two specific issues in https://github.com/w3c/presentation-api/issues/380#issuecomment-276160625. Does https://w3c.github.io/webappsec-secure-contexts/#new provide you with appropriate guidance and hooks to mitigate the identified attacks? Any open questions to the group?

If all cl

[2017-02-10 04:21] tomoyukilabs commented on #266
@tidoust I tried to check Presentation API on the latest version of Nightly for Android (Fennec), and confirmed that it seems to have both controller and receiver implementation of Presentation API in 1-UA mode (which communicates with Chromecast).

If there isn't any problem, I would like to start implementing test cases which require receiver implementation.

[2017-02-10 07:30] anssiko commented on #266
@tomoyukilabs that'd be great, thanks for helping us with the testing effort!

Pinging @schien to give us a brief update on the Fennec receiver implementation status.

[2017-02-14 17:54] mfoltzgoogle commented on #408
Not sure who can answer this question?

[2017-02-14 18:04] #407 closed

[2017-02-14 18:10] mfoltzgoogle commented on #380
I don't have any questions at this time.  However do we have consensus?  I don't know what other implementations think on this issue.

Implementations have shipped in insecure contexts for some time, so there's a question of how willing we are to break existing Web content.

[2017-02-14 18:39] mfoltzgoogle commented on #406
Here's a summary of the current state of the Chrome implementation (as of 58.0.3004.3, the current dev channel release):

# On desktop and Android releases
* Currently supports 2-UA mode using Chromecast, only with URLs that correspond to registered Cast applications.
* Support for `new PresentationRequest(DOMString[])` has landed; multiple URLs are accepted to construct the PresentationRequest.

[2017-02-14 19:28] anssiko commented on #380
All - Please speak up by 21 Feb if you have concerns on requiring a secure context for the Presentation API as discussed in this issue. Silence is considered consent. Ping @schien for Mozilla's position.

[2017-02-14 19:35] anssiko commented on #380
@mfoltzgoogle You're raising an important point regarding compatibility with existing web content. Do we have telemetry data?

To mitigate, I'd expect implementations to log warnings (to developer console) on non-secure use over a period of possibly multiple major releases, before disabling. Alternatively or in addition, display a user facing warning that requires active user consent. This is up t

[2017-02-14 19:49] mfoltzgoogle commented on #380
We don't have telemetry that breaks down usage in secure vs. insecure contexts.    Filed[ a bug to track this work](https://bugs.chromium.org/p/chromium/issues/detail?id=692185).  Will Mozilla do the same?

In general when deprecating Web platform features, Blink logs console warnings until usage drops below a threshold of pageviews, then removes the feature.

[2017-02-14 21:36] mfoltzgoogle commented on #266
Per the update in Issue #406 Chrome desktop (Windows, Mac, Linux) also has support for the Receiver API in 1-UA mode, currently available in dev channel releases.  Target screens supported include Google Cast devices and Hangouts.

We are aware of some failures with existing test cases and are working to address them (don't have bug #s handy but can follow up).  Let me know if you have any questio

[2017-02-15 01:45] tomoyukilabs commented on #266
@mfoltzgoogle Thanks a lot for your update! However, I haven't still succeeded to confirm the Receiver API in 1-UA mode (with arbitrary URLs) with Chrome Dev for Mac 58.0.3004.3 yet; a receiver UA does not seem to have `navigator.presentation.receiver`. Could you find anything I might be missing?

[2017-02-15 01:47] mfoltzgoogle commented on #266
The receiver property is only exposed in pages started as presentations.  I can double check the status when I have access to a Mac.

[2017-02-15 02:45] tomoyukilabs commented on #266
Yes, I have checked existence of `navigator.presentation.receiver` at the receiver by the codes like:

[code]

The results on my Mac and Chromecast would be `undefined`, though.

[2017-02-15 09:20] anssiko commented on #408
@mfoltzgoogle, I think what @tidoust wanted to ask from the technical perspective is:

Does the WebIDL Editor's Draft at https://heycam.github.io/webidl/ (aka "WebIDL without level") have all the definitions the Presentation API needs?

Based on my assessment that is the case, so here's a proposed fix, PR #411.

I believe @tidoust has an open action via https://github.com/w3c/presentation-api/issu

[2017-02-15 18:22] mfoltzgoogle commented on #266
Okay, I'm able to reproduce this.  We're investigating.

[2017-02-15 21:40] #408 closed

[2017-02-16 08:52] anssiko commented on #406
Update: #380 is the only remaining blocker for the revised CR publication.

CfC with a proposed solution https://github.com/w3c/presentation-api/issues/380#issuecomment-279809687 open for comments until 21 Feb.

[2017-02-22 11:05] anssiko commented on #380
No concerns raised.

@mfoltzgoogle You are now free to implement the change. In addition to this group, we should loop in key WebAppSec people to review the PR.

[2017-02-23 22:49] mfoltzgoogle commented on #266
Update:

- You'll need to pass the flag --enable-blink-features=PresentationReceiver
- We landed a bugfix that should have helped.  Try today's canary release or newer.

[2017-02-24 06:39] tomoyukilabs commented on #266
Thanks! I have confirmed that PresentationReceiver in 1-UA mode of Chrome Canary works.

[2017-02-24 18:48] mfoltzgoogle opened #412 "[ReSpec] Performance regression when loading spec over file:///"
In Chrome 57.0.2987.54, when loading the spec from local disk, the sidebar controls load, then the page is blank for 30 seconds, then the spec is rendered.  This does not  happen when loading from https://w3c.github.io.

- From the devtools profiler, script is not doing anything.
- No request is hitting the network - all subresources are cached.
- The following are printed in the console:
[code]

[2017-02-25 01:42] mfoltzgoogle opened #414 "Receiving browsing context needs additional flags set"
The receiving browsing context sets the _sandboxed auxiliary navigation browsing context flag_ to prevent it from using e.g. window.open() to spawn new browsing contexts.

However we should also prevent top-level navigation (to protect integrity of the screen selection prompt) by setting the _sandboxed top-level navigation browsing context flag_.  This also blocks `window.close()`, thus developers

[2017-02-27 12:07] anssiko commented on #412
Ping @marcoscaceres our chief ReSpec maintainer. Regression possibly introduced by performance improvements rolled into production last month: https://lists.w3.org/Archives/Public/spec-prod/2017JanMar/0005.html

@mfoltzgoogle A workaround is to use localhost for development.

[2017-02-27 12:27] marcoscaceres commented on #412
I'll take a look. Please note that specref seems to be down today, which may be the cause

[2017-02-27 13:12] anssiko commented on #414
Setting _sandboxed top-level navigation browsing context flag_ is indeed required to ensure integrity. The presentation is effectively a single-page application that must not be able to navigate. This should have been caught up in the security review, but better late than never. Good catch!

Looking at the _sandboxed modals flag_, it prevents content from using the following:

* window.alert()
* w

[2017-02-27 13:16] anssiko commented on #406
A fix to #380 is expected to land soon, see #413.

Not yet at zero bugs, since we identified another spec issue we probably want to address before publishing, tracked in #414.

[2017-02-27 13:19] anssiko commented on #412
@marcoscaceres This was reported three days ago, so today's downtime probably was not the cause. Note this is not a high priority issue since we have a known workaround.

[2017-02-27 22:44] #380 closed

[2017-02-28 03:58] marcoscaceres commented on #412
@mfoltzgoogle, I was not able to reproduce locally (i.e., works for me in all browsers).  Maybe needs a "hard refresh"?

[2017-02-28 23:48] mfoltzgoogle commented on #414
In Chrome, all Javascript dialogs are suppressed from offscreen tab (1-UA) presentations.

[2017-03-01 07:58] schien commented on #414
In Firefox, open/alert/confirm/print/prompt will fail in receiver page, however, window.close will close the connection but not terminate the receiver page.

[2017-03-01 10:58] anssiko commented on #414
Thanks @schien and @mfoltzgoogle. Do your implementations also prevent top-level navigation in the receiving browsing context already?

If so, it seems setting both the _sandboxed top-level navigation browsing context flag_ (was renamed to _sandboxed top-level navigation without user activation browsing context flag_ in https://github.com/whatwg/html/commit/8abd73ec3a56541e3f6486d3a593a8bcfd67295d

[2017-03-01 13:38] tidoust commented on #414
I'm probably missing something but I find it strange to set the _sandboxed top-level navigation browsing context flag_ on the receiving browsing context, given that it is a top level browsing context. As far as I can tell, HTML never does this, it only sets that flag on nested contexts.

Said differently, my understanding is that a browsing context can always navigate itself in practice, meaning i

[2017-03-01 18:27] mfoltzgoogle commented on #414
Re: https://github.com/w3c/presentation-api/issues/414#issuecomment-283309973

Looking at our implementation, I don't believe we handle top-level navigations currently.  Will file a bug to address that, and hopefully add a platform test to enforce it.

[2017-03-01 18:33] mfoltzgoogle commented on #414
@tidoust Do these in-app routing frameworks expect new Document objects in the history when using  the History API? Or are they just using it as a convenient way to store application state within the same Document?

The sandoxing navigation flag may indeed be the wrong one, but we need to spec navigation behavior somehow.

[2017-03-02 07:26] tomoyukilabs commented on #414
Re: https://github.com/w3c/presentation-api/issues/414#issue-210200351

In addition, does a modal dialog for HTTP authentication need to be disallowed in a receiving browsing context? IIUC, _sandboxed modals flag_ does not care about it.

[2017-03-02 08:39] tidoust commented on #414
@mfoltzgoogle said:

That's the part I missed :) In my mental model, using `pushState` would create new Document objects in the history. That is not the case! In other words, navigating the history that the receiver app may create should always work with the flag set, and my previous comment is essentially moot.

If you can confirm setting the flag works implementation-wise, then all is good. If t

[2017-03-02 08:57] tidoust commented on #414
@tomoyukilabs said:

For me, the difference is that HTTP authentication is not something that the page itself can trigger. It sits at the protocol level which seems out of scope for the API (for instance, the HTML spec does not talk about HTTP authentication per se). The receiving user agent could ask the user for credentials if user interaction is possible. Or it may have obtained credentials thr

[2017-03-02 09:47] anssiko commented on #414
Re HTTP authentication, I think @tidoust is right. For example, web views used to embed web content in native apps suppress HTTP authentication prompts per my experience, and simply fail (or display an empty page without any user visible error) if such a page is navigated to.

[2017-03-02 09:52] tomoyukilabs commented on #414
@tidoust and @anssiko Thanks for kind response!

[2017-03-22 13:02] anssiko commented on #414
Fixed in #415.

[2017-03-22 13:02] #414 closed

[2017-03-22 13:23] anssiko commented on #406
We're now at zero bugs blocking the revised CR publication. Congratulations!

@mfoltzgoogle, could you check that https://w3c.github.io/presentation-api/#changes-since-14-july-2016 is up to date? We're missing at least #414.

@mfoltzgoogle, is the "at risk" data provided at https://github.com/w3c/presentation-api/issues/406#issuecomment-279795674 still accurate?

@schien, do you see features in th

[2017-03-22 14:20] tidoust commented on #406
See proposed PR: https://github.com/w3c/presentation-api/pull/416

We should be able to publish a new CR as soon as we're clear about "at risk" features. If the problem is the 2-UA mode, we don't need to add a feature at risk but we need to relax our exit criteria. In particular, we would need to drop "Additionally, implementations of the receiving user agent conformance class must include at leas

[2017-03-23 06:14] mfoltzgoogle commented on #414
Following up on a couple of items to close out loose threads:

- Checking our implementation briefly, I believe that we can apply the _sandboxed top-level navigation browsing context flag_ on a top-level receiving browsing context.  This is in part because CSP Level 3 allows resources fetched with CSP to be sandboxed as well, including top-level resources [1].  We'll know for sure when we actually

[2017-03-23 23:08] mfoltzgoogle commented on #412
After some sleuthing this happens when the "block third party cookies" setting is enabled in Chrome.  Chrome treats each file:/// URL has having a unique origin - trying to access an IndexedDB from a file:/// URL seems to be blocked as "cross-origin."  I do not know if this is intentional or not.

Workarounds:
1. Enable third-party cookies.
2. Fire up a local HTTP server.

Either way I don't think

[2017-03-24 09:38] anssiko commented on #412
@mfoltzgoogle, thanks for debugging! I suggest you open an issue at https://github.com/w3c/respec/issues with your findings or edit docs at https://github.com/w3c/respec/wiki directly, and when done close this issue.

[2017-03-24 17:36] mfoltzgoogle commented on #412
Edited the Wiki to note incompatibility with file: URLs and IndexedDB.

[2017-03-24 17:36] #412 closed

[2017-03-24 19:51] mfoltzgoogle commented on #406
@anssiko

Here is an update on feature completeness in Chrome.

# Controlling UA

## 2-UA mode

This has been implemented on Chrome Desktop and Android for some time.  It is compatible with Google Cast devices and our [Google Cast for Education](https://chrome.google.com/webstore/detail/google-cast-for-education/bnmgbcehmiinmmlmepibeeflglhbhlea?hl=en-US) application.

*Note:* Presentations using t

[2017-03-24 19:58] mfoltzgoogle commented on #406
@anssiko @schien

Given what we are looking at now I would be okay with relaxing the exit criteria to:

I think this is reasonable, given that most all implementations of the receiving user agent will either be one or the other, but not both; they will be a full fledged Web renderer and implement 2-UA, or they will have simpler software to render video streams and implement 1-UA.

For the controll

[2017-03-27 08:47] tidoust commented on #406
@mfoltzgoogle

There are two things we need to look at:

1. _features at risk_, which are features that we may have to drop from the spec
2. _exit criteria_, which are implementation criteria that need to be met before the spec can be published as Proposed Recommendation.

Trying to reformulate, I understand "at risk" in your text as "at risk of not being implemented in time", not as "at risk of n

[2017-03-27 22:32] mfoltzgoogle commented on #406
The intention was that, as an exit criterion, a given receiving user agent may implement 1-UA, 2-UA, or both.  Not that every receiving user agent under consideration has to implement both.

2-UA mode is not necessarily related to the underlying protocol.  2-UA is about which device renders the presentation, not about the protocol that ties devices together being standardized or not.

As I discuss

[2017-03-28 10:58] anssiko commented on #406
@tidoust, can you take the lead in revising, where appropriate, the following sections based on the (ongoing) discussion in this issue:

* "At risk" features in [Status of This Document][1]
* [CR exit criteria][2]

It is probably easier for the group to review the proposal given a concrete PR.

(On a related note, I just [enabled][3] [pr-preview][4] for this spec. This GitHub integration will auto

[2017-03-29 13:15] tidoust commented on #406
@anssiko and all, see PR #418.

@mfoltzgoogle, I understand the intent. See suggested text in pull request. I added a note about the fact that 2-UA controllers will only support non http/https presentation URLs in the absence of a 2-UA receiver. Goal is to be upfront that this is expected.

[2017-04-05 07:19] tomoyukilabs opened #419 "Behavior of a receiving user agent in reconnecting"
According to [6.3.5 Reconnecting to a presentation](https://w3c.github.io/presentation-api/#reconnecting-to-a-presentation) in the current spec, when a controlling user agent reconnects to a presentation,

- the user agent searches an existing (closed) presentation connection, otherwise it creates a new presentation connection,
- and the user agent [requests a connection](https://w3c.github.io/pre

[2017-04-06 12:43] anssiko commented on #406
#418 landed to relax CR exit criteria to match known implementations plans.

We got one last minute spec bug report #419 from @tomoyukilabs (thanks!).

@mfoltzgoogle could you analyze?

[2017-04-10 22:33] mfoltzgoogle commented on #419
I see a benefit to the first option.  A long lived presentation might generate a lot of closed connections in the `PresentationConnectionList`, and removing them would allow closed `PresentationConnection` objects to be discarded.

Questions:

- Do we think developers would want to keep closed connections around in the list for bookkeeping reasons?  For example, to keep track of data for previousl

[2017-04-11 02:14] tomoyukilabs commented on #419
Many thanks, @mfoltzgoogle!

Yes, but developers can use controller's/player's ID at an application layer to recognize reconnection from the same controller, for example.

No. A `close` event fired at a PresentationConnection seems to be sufficient.

Okay, I understand that the first option has benefit in terms of implementation and protocol design. Now, my concern is simply that closed presentati

[2017-04-12 09:50] tidoust opened #421 "Relax `terminate` algorithm to deal with other states?"
The `terminate` method only has an effect on a presentation connection whose state is `connected`.

I think a common scenario for calling `terminate` is when the controlling browsing context is about to disappear or when the user clicks on a button, to clean things up, regardless of the current application state.

This is what we try to do in the test suite for instance, so that subsequent tests s

[2017-04-14 15:14] tidoust opened #422 "Turn SHOULD into MUST for close/terminate messages handling?"
As I'm reviewing tests prepared by @tomoyukilabs for [close/terminate on the receiving side](https://github.com/w3c/web-platform-tests/pull/5562), there are two SHOULD in the Presentation API that now strike me as odd:

1. "If the user agent receives a signal from the destination browsing context that a PresentationConnection S is to be closed, it SHOULD close the presentation connection S with cl

[2017-04-14 15:22] tidoust opened #423 "Termination should also "discard" the receiving browsing context"
The steps to [terminate a presentation in a receiving browsing context](https://w3c.github.io/presentation-api/#dfn-terminate-a-presentation-in-a-receiving-browsing-context) tell the receiving user agent to [unload a document](http://www.w3.org/TR/html51/browsers.html#unloaded).

I believe the intent is to close the context entirely, but there are a couple of additional steps needed to [close a br

[2017-04-14 16:50] mfoltzgoogle commented on #419
I could see two options to address this:

1. Allow implementations to cap the size of the PresesntationConnectionList.  This does not require a normative spec change.  Very long running presentations (perhaps accessible through a public kiosk) would run the risk of hitting this limit by filling up with closed connections, and then failing to accept new connections.  They could reload themselves pe

[2017-04-14 17:14] mfoltzgoogle commented on #421
If I'm not opposed to this change, but would need to investigate the implications for our implementation to determine the scope and complexity.  It does seem to improve ergonomics for the cleanup case, but isn't the expected use case to simply allow the connection to be closed by the controlling UA on page unload?  The presentation can close itself when it detects the connection has goneAway.

I w

[2017-04-14 19:15] mfoltzgoogle commented on #422
Yes, this is an oversight and we should update the spec to reflect implementation.

[2017-04-14 19:18] mfoltzgoogle commented on #423
SGTM

[2017-04-17 05:08] tomoyukilabs commented on #422
FYI: As far as I have tested on Chrome Canary for Mac and Firefox Nightly for Android,

- Regarding 1., Both Chrome and Firefox close the presentation connection with `closed` as `reason`.
- Regarding 2.,
  - Chrome _closes_ the presentation connection with `error` as `reason` and `Remove route` as `message`.
  - Firefox _terminates_ the presentation connection.

[2017-04-17 08:57] schien commented on #419
Throwing away the closed connection seems to be a better choice from the perspective of implementation. This can also lead to a simpler protocol design for managing the connection lifecycle in browser.

`connectionremoved` will not be useful because it'll be much efficient to use `statechange` event. Using `connectionremoved` mean web page need to do a series of comparison to know what session is

[2017-04-17 17:02] mfoltzgoogle commented on #419
Okay, let's make the spec change.  The implementation does't look too difficult on our end.

[2017-04-17 17:48] #423 closed

[2017-04-18 13:49] anssiko commented on #406
The looming CR refresh (as well as the amazing work on the test suite) has triggered the group to review the spec very carefully and thus the group has unearthed two new issues last week, in addition to #419.

The current status of the CR blockers is the following (let me know if I missed something):

#419 - proposal exists, waiting for spec edits
#421 - @mfoltzgoogle has a question to the group;

[2017-04-18 21:34] mfoltzgoogle commented on #422
PR #425 should address the spec issue.  @tomoyukilabs, behavior #2 would be a bug and I suspect is an artifact of how we discard the offscreen presentation.

[2017-04-18 21:48] mfoltzgoogle commented on #421
I think we should split this into two issues.

The first is to allow `terminate()` to apply to connections in the `connecting` state which is a smaller spec change, but possibly a tricky implementation change.  I am okay with this blocking CR.

The second is to allow termination of closed connections.  This is a more fundamental rethink of the API and should be a v2 feature request.

[2017-04-19 02:56] tomoyukilabs commented on #422
@mfoltzgoogle Thanks. I leave the test to check terminating a presentation as it is.

[2017-04-19 12:54] anssiko commented on #406
Updated my "CR blockers tracker" at https://github.com/w3c/presentation-api/issues/406#issuecomment-294850018 with the latest status.

All - the last remaining issue #421 is looking for your input.

[2017-04-19 16:36] #422 closed

[2017-04-19 16:36] #419 closed

[2017-05-03 12:54] tidoust commented on #421
Right, `close()` seems best effort as well when the algorithm says "Start to signal to the destination browsing context the intention to close the corresponding PresentationConnection", for instance. If you insert a note, it should be more generic, but I'm not sure where to put it in the current spec in practice.

[2017-05-03 22:02] mfoltzgoogle commented on #421
PR merged; I don't plan on addressing the additional note or termination via closed connections at this time.  I think this can be closed then.

Feel free to file termination via closed connections as a feature request :)

[2017-05-04 06:31] anssiko commented on #421
@tidoust, if you don't feel strongly about this, I'd give you an action to open a new issue for the feature request in question and close this issue when done.

[2017-05-04 06:35] anssiko commented on #406
We're finally very close to shipping an updated CR.

@tidoust, could you help us close #421 and land #429.

Thanks for your perseverance everyone.

[2017-05-04 09:35] tidoust commented on #421
@anssiko @mfoltzgoogle

I'll close this issue without creating another one for termination via closed connections. This issue captures the possible gain that this could bring in theory and the rationale for not doing it in practice. We can always refer back to this issue later on if the idea comes back onto the table.

[2017-05-04 09:35] #421 closed

[2017-05-05 17:53] #345 closed

[2017-05-08 12:35] anssiko commented on #406
Current status:  closed #421 and landed #429. We're about to branch for release.

@mfoltzgoogle, I submitted #431 to fix some broken links, I assume you'd be good for us to branch for release after that fix has landed?

@tidoust, could you help prepare a publication-ready updated CR snapshot after @mfoltzgoogle's confirmation. I suggest we use four weeks CR comment period, unless there's a good re

[2017-05-08 21:08] mfoltzgoogle commented on #266
@tidoust @tomoyukilabs Just pinging on the state of test coverage.  Does the test coverage document [1]  reflect the current status?

[1] https://tidoust.github.io/presentation-api-testcoverage/

[2017-05-09 01:43] tomoyukilabs commented on #266
@mfoltzgoogle Yes, if I understand correctly.

[2017-05-09 09:23] tidoust commented on #406
@anssiko You may park the document in the "TR" branch if you want, or give it a label, but basically the document is ready for publication from my perspective.

More precisely, the following URI would generate the updated CR:
https://w3c.github.io/presentation-api/?specStatus=CR;previousMaturity=CR;previousPublishDate=2016-07-14;crEnd=2017-06-23;publishDate=2017-05-26

... adjusting the date param

[2017-05-09 11:10] anssiko commented on #406
@tidoust, I just sent a [Call for Consensus to publish][1], ending 17 May.

I'm fine with us using the ["living" CR snapshot][2] as a point of reference during the CfC period.

[1]: https://lists.w3.org/Archives/Public/public-secondscreen/2017May/0061.html
[2]: https://w3c.github.io/presentation-api/?specStatus=CR;previousMaturity=CR;previousPublishDate=2016-07-14;crEnd=2017-06-23;publishDate=2017

[2017-05-09 13:09] tidoust commented on #266
@mfoltzgoogle Yes, I maintain that document and it should roughly reflect the current status. In particular, thanks to @tomoyukilabs's thorough work on the test suite, it's almost all green now. The remaining work items are a bunch of minor things to fix or improve but the test suite now covers most algorithms.

[2017-05-09 14:58] tidoust commented on #266
Actually, with today's updates, I believe we're basically done. What we'll need to do now is:

1. to run tests and update the implementation report accordingly
2. to split tests when needed to make the implementation report more readable (most atomic tests have been grouped to avoid having to create too many manual tests, but that means that it may be hard to understand that a "fail" is actually a

[2017-05-09 20:25] mfoltzgoogle commented on #266
Sounds good.  We'll await the implementation report (or if I get a slice of time, can obviously attempt to run the current test suite myself).

[2017-05-15 17:33] mfoltzgoogle commented on #266
@tidoust Could we help out with the remaining TODOs here?

https://github.com/tidoust/presentation-api-testcoverage/blob/gh-pages/coverage.js

Also it looks like some sections of the spec are missing entries, so they show up as question marks in the coverage document.

[2017-05-18 09:10] anssiko commented on #406
@tidoust, the CfC passed with no concerns raised. Please obtain the Director's approval to publish the new CR.

WG participants, congratulations are in place for all of you for reaching this milestone. Special thanks to @mfoltzgoogle for editing the spec, @tomoyukilabs, @louaybassbouss, and @tidoust for testing contributions, @schien and @mfoltzgoogle for providing continuos implementation feedbac

[2017-05-18 09:21] louaybassbouss commented on #406
A lot of thanks also to you @anssiko. I had this week the chance to meet @tidoust in Berlin and we are going to create the new Test report during next week. We will focus on 1-UA mode since we don't have yet a complete 2-UA mode implementation which includes receiver part ( @mfoltzgoogle please correct me if I am wrong).

[2017-05-18 16:42] mfoltzgoogle commented on #406
Chrome doesn't have a full, native implementation of the 2-UA receiver.

The Cast for Education Chrome app [1] supports 2-UA receiver through a polyfill.    It does not yet support `reconnect()`.

As you are aware, Chromecast devices also act as a 2-UA receiver, but `reconnect()` doesn't work per spec and the receiver also requires a polyfill.

[1] https://chrome.google.com/webstore/detail/google-

[2017-05-19 13:00] tidoust commented on #266
@mfoltzgoogle The remaining TODOs are around points that I'm not sure we can test in the end. Typically, I do not see any good reproducible way to force an error when the connection gets established. And I'm not sure we can include tests in our test suite that require more than one secondary display available. I turned the "TODOs" into "If possible" suggestions for now.

The question marks were fo

[2017-05-19 17:18] mfoltzgoogle commented on #266
Thanks for the clarification.  I think the following two should be possible, it just requires there to be multiple presentation displays (possibly supporting different presentation URLs).   I can send a PR if I can find a suitable solution.

[code]

[2017-06-01 06:56] tidoust commented on #406
A [revised Candidate Recommendation](http://www.w3.org/TR/2017/CR-presentation-api-20170601/) of the Presentation API has just been published. I'm closing this meta issue as a result. Well done everyone!

[2017-06-01 06:56] #406 closed

[2017-06-15 22:47] mfoltzgoogle commented on #266
I have a WIP to add a test for availability with multiple displays, but it needs a bit more work before I can send a PR.

Re: https://github.com/w3c/presentation-api/issues/266#issuecomment-300191905

@tidoust
- Should we expect an implementation report soon?
- Is there an issue filed to split the tests up?  Or does that just mean splitting the results in the implementation report (versus splittin

[2017-06-16 07:00] tidoust commented on #266
My understanding is that @louaybassbouss is working on it. @louaybassbouss, any timeline?

I did not create a separate issue for that for now, because I do not know whether that will be needed at all.

It all depends on what the implementation report will reveal. The situation we should avoid is a report with lots of failures triggered by the same bug, that would not convey the fact that the imple

[2017-06-17 15:52] louaybassbouss commented on #266
@tidoust yes are working on this there was an [issue](https://github.com/w3c/web-platform-tests/issues/6193) in the Test Runner that blocked us @aleygues already reported this. After it is fixed, we were able to create the test report for Chrome Desktop but for Chrome Android in all the tests the Screen Selection Dialog was not displayed. @mfoltzgoogle  any idea?  we use as receiver Chromecast Ult

[2017-07-04 02:16] tomoyukilabs commented on #266
@louaybassbouss Is there anything which I can help you with?

[2017-07-13 20:16] mfoltzgoogle commented on #266
@louaybassbouss I'll take a look and see if I can repro.  CC @avayvod

[2017-07-14 15:52] louaybassbouss commented on #266
@mfoltzgoogle we were able to run the tests on Chrome Canary for Android thx @avayvod for fixing it. Now we have the reports for Chrome Canary for Android, Chrome Desktop and Firefox for Android. We then recognised that the results of IDL tests are missing in the report due to some error in the idlharness lib which seems to be fixed in the latest version. @aleygues want to run the tests again to h

[2017-07-14 16:53] mfoltzgoogle commented on #266
That sounds good to me.

[2017-07-17 13:44] louaybassbouss commented on #266
I just submitted a [PR](https://github.com/w3c/test-results/pull/107) with the new test results of Presentation API including WebIDL test results. Three Browsers are tested Chrome for Android, Chrome Desktop and Firefox for Android. Thx for @aleygues for helping in running the tests.

[2017-08-09 00:21] mfoltzgoogle opened #434 "In receiver page, sandboxing flags do not fully block top-level navigation."
The steps to create a receiving browsing context set the _sandboxed top-level navigation browsing context flag_ [1].  According to the HTML 5.1 navigation algorithm [1], this only applies when nested browsing contexts attempt to navigate their top browsing context, so it does not make sense for the original receiving browsing context (only, possibly, nested browsing contexts inside it).

We could

[2017-08-09 07:37] chrisn opened #435 "Add more explanation to examples"
I'd like to do some work to improve the examples in section 5, with the aim of making the spec a little more approachable to a web developer audience. Specifically:

- Add an explanatory paragraph that introduces each example, based on the existing code comments
- Refactor the example code, if needed

Note, I'm not proposing any change to normative spec text. If this sounds OK, I'll submit a pull

[2017-08-09 10:43] anssiko commented on #435
@chrisn, contributions to the examples section are very welcome. Examples are often overlooked part of web specs and it's great if you can improve the situation for the Presentation API.

My general suggestion would be to make the examples as concise as possible, while still keep them functional, and omit any bells and whistles.

[2017-08-15 17:51] mfoltzgoogle commented on #435
Go for it. I think they cover the basic functionality all right, but probably don't explain the "why" very well.

[2017-08-29 12:07] anssiko commented on #434
All - please review this v1 issue and its proposed resolution by @mfoltzgoogle.

Unless concerns are raised by the end of this week, I'd ask @mfoltzgoogle to craft a PR per the proposal to get the spec updated. @mfoltzgoogle, thanks for identifying the issue and proposing a solution.

[2017-09-06 12:51] anssiko opened #437 "Use [Exposed=Window]"
Use WebIDL `[Exposed=Window]` for the following interfaces to align with the recent WebIDL change in https://github.com/heycam/webidl/issues/365

Presentation, PresentationRequest, PresentationAvailability, PresentationConnectionAvailableEvent, PresentationConnection, PresentationConnectionCloseEvent, PresentationReceiver, PresentationConnectionList

[2017-09-15 18:05] mfoltzgoogle commented on #434
Merged PR.  Closing.

[2017-09-15 18:05] #434 closed

[2017-09-19 10:25] #437 closed

[2017-09-21 21:33] mfoltzgoogle commented on #347
**Updates**

There is a third requirement which is related to the above.  We've found that some controlling pages have authentication state in its cookie jar that can't be shared with the presentation (for security reasons, or because it owned by other origins).  This makes it difficult for the presentation to obtain the necessary resources.

- The first approach (forced 1-UA) could also allow sha

[2017-09-21 21:53] mfoltzgoogle opened #439 "Presentation of object URLs"
This is related to Issue #347.  It would be ergonomic to allow objects accessible to the developer to be presentable on other devices via object URLs or source objects.  This would simplify integration with [Media Capture from Element](https://w3c.github.io/mediacapture-fromelement/).

Possible objects include:
* MediaStream
* MediaSource
* Blob
* File

The first two could be handled through the R

[2017-09-21 21:57] mfoltzgoogle opened #440 "Presentation Testing API"
Currently a good portion of our web platform tests require manual intervention.  This task tracks the work to implement a testing API to allow the tests to:

1. Create and remove a fake presentation screen
2. Select or cancel presentation
3. Start presentation from the browser
4. Implement the "stash" functionality?

We should consider prior work by WebVR and other device APIs here around testing

[2017-09-21 22:00] mfoltzgoogle commented on #32
Going to re-review this for possible followup at TPAC.